<template>
  <teleport to="body">
    <div class="align-v-h-center dialog-div">
      <div
        class="dialog-box align-v-h-center"
        :style="[commonCssProps.boxShadow]"
        :class="{
          darkThemeClass: commonCssProps.darkTheme,
          lightThemeClass: !commonCssProps.darkTheme,
        }"
      >
        <div class="dialog-box-inner">
          <div class="pad">
            Would you mind rating
            <h3>{{ displayAppName }}</h3>
          </div>
          <div>
            It won’t take more than a minute and helps to promote our app.
            Thanks for your support!
          </div>
          <div class="row">
            <div @click="goToMarketFunc" class="col-5 align-v-h-center">
              <img
                v-if="commonCssProps.darkTheme"
                src="../../assets/icons/thumb_up_white_48dp.svg"
              />
              <img v-else src="../../assets/icons/thumb_up_black_48dp.svg" />
            </div>
            <div
              @click="remindLaterFunc"
              class="btns col-5"
              :style="commonCssProps.borderColor"
            >
              Remind Me Later
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-div align-v-h-center" v-if="showFeedbackDialog">
      <div
        class="dialog-box align-v-h-center"
        :style="[commonCssProps.boxShadow]"
        :class="{
          darkThemeClass: commonCssProps.darkTheme,
          lightThemeClass: !commonCssProps.darkTheme,
        }"
      >
        <div class="dialog-box-inner">
          <div>
            Do you like using
            <h3>{{ displayAppName }}</h3>
          </div>
          <div class="pad">Mind giving us some feedback?</div>
          <div class="row">
            <div
              @click="notGivingFeedbackFunc"
              :style="commonCssProps.borderColor"
              class="btns col-4 mx-10 align-v-h-center"
            >
              Not really
            </div>
            <div
              @click="giveFeedbackFunc"
              :style="commonCssProps.borderColor"
              class="btns col-4 mx-10 align-v-h-center"
            >
              <img
                class="tokenImg"
                v-if="commonCssProps.darkTheme"
                src="../../assets/icons/contact_mail_white_48dp.svg"
              />
              <img
                class="tokenImg"
                v-else
                src="../../assets/icons/contact_mail_black_48dp.svg"
              />
            </div>
            <div
              @click="neverAskAboutFeedbackFunc"
              :style="commonCssProps.borderColor"
              class="btns col-4 mx-10 align-v-h-center"
            >
              Do not ask again!
            </div>
          </div>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script>
export default {
  name: "AppFeedback",
  props: ["common-css-props", "feed-back-status"],
  emits: ["close-feedback-dialog"],
  data() {
    return {
      showFeedbackDialog: false,
      deviceInfo: null,
      body_line: escape("\n"),
      displayAppName: this.constants.APP_NAME,
    };
  },
  mounted() {
    this.cordova.on("deviceready", () => {
      this.deviceInfo =
        "Device's manufacturer : " + this.cordova.device.manufacturer;
      this.deviceInfo +=
        this.body_line + "Device's model : " + this.cordova.device.model;
      this.deviceInfo +=
        this.body_line +
        "Device's operating system : " +
        this.cordova.device.platform;
      this.deviceInfo +=
        this.body_line + "Device's OS version : " + this.cordova.device.version;
      // this.deviceInfo +=
      //   this.body_line + "Device's UUID : " + this.cordova.device.uuid;
      this.deviceInfo +=
        this.body_line +
        "Device running on a simulator : " +
        this.cordova.device.isVirtual;
      // this.deviceInfo +=
      //   this.body_line +
      //   "Device's hardware serial number : " +
      //   this.cordova.device.serial;
      // this.deviceInfo +=
      //   this.body_line + "Cordova Version : " + this.cordova.device.cordova;
      //console.log("this.deviceInfo : ", this.deviceInfo);
    });
  },
  methods: {
    goToMarketFunc() {
      //console.log("goToMarketFunc");
      this.cordova.on("deviceready", () => {
        setTimeout(() => {
          this.$emit("close-feedback-dialog", true);
        }, 600);

        window.location.replace(
          "market://details?id=" + this.constants.PACKAGE_NAME
        );
      });
    },
    remindLaterFunc() {
      //console.log("remindLaterFunc : ", this.feedBackStatus);
      if (this.feedBackStatus.val) this.showFeedbackDialog = true;
      else this.$emit("close-feedback-dialog", true);
    },
    notGivingFeedbackFunc() {
      this.$emit("close-feedback-dialog", true);
    },
    giveFeedbackFunc() {
      //console.log("giveFeedbackFunc");
      this.cordova.on("deviceready", () => {
        setTimeout(() => {
          this.$emit("close-feedback-dialog", true);
        }, 500);

        window.open(
          "mailto:" +
            this.constants.MY_MAIL +
            "?subject=" +
            this.constants.MAIL_SUBJECT +
            "&body=" +
            this.deviceInfo +
            this.body_line +
            this.body_line +
            "Please provide your feedback/issue here : " +
            this.body_line,
          "_system"
        );
      });
    },
    neverAskAboutFeedbackFunc() {
      this.feedBackStatus.val = false;
      this.db.updateAskAboutFeedback(false, () => {
        //console.log("DBDBDBD updateAskAboutFeedback UPDATED: ", ret);
      });
      this.$emit("close-feedback-dialog", true);
    },
  },
};
</script>

<style scoped>
.pad {
  padding: 10px;
}
.dialog-div {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 100%;
  height: 100%;
}
.dialog-box {
  border: 3px solid blueviolet;
  border-radius: 20px;
  width: 65%;
  height: 30%;
  padding: 5px 0;
}
.dialog-box-inner {
  width: 100%;
  text-align: center;
}
h3 {
  margin-top: 0px;
  margin-bottom: 8px;
}
.mx-10 {
  margin: 0 10px !important;
}
.btns {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
}
</style>