<template>
  <div class="btns3 row">
    <div
      @click="rateAppFunc"
      class="col-3 btns2"
      :style="commonCssProps.borderColor"
    >
      <img
        class="tokenImg"
        v-if="commonCssProps.darkTheme"
        src="../../assets/icons/thumb_up_white_24dp.svg"
      />
      <img
        class="tokenImg"
        v-else
        src="../../assets/icons/thumb_up_black_24dp.svg"
      />
    </div>
    <div
      @click="showTokenRewardDialogFunc"
      class="col-3 btns2 ml-auto"
      :style="commonCssProps.borderColor"
    >
      <img
        v-if="commonCssProps.darkTheme"
        src="../../assets/icons/light_white_on_24.png"
      />
      <img v-else src="../../assets/icons/light_black_on_24.png" />
    </div>
    <div
      @click="showStatisticsFunc"
      class="col-3 btns2 ml-auto"
      :style="commonCssProps.borderColor"
    >
      <img
        v-if="commonCssProps.darkTheme"
        src="../../assets/icons/baseline_leaderboard_white_24dp.png"
      />
      <img
        v-else
        src="../../assets/icons/baseline_leaderboard_black_24dp.png"
      />
    </div>
    <app-feedback
      v-if="showRateDialog"
      :common-css-props="commonCssProps"
      :feed-back-status="feedBackStatus"
      @close-feedback-dialog="closeFeedbackDialogFunc"
    ></app-feedback>
    <token-rewards
      v-if="showTokenRewardDialog"
      :common-css-props="commonCssProps"
      :token-and-point-data="tokenAndPointData"
      @close-token-reward-dialog="closeTokenRewardDialogFunc"
    ></token-rewards>
  </div>
</template>

<script>
import AppFeedback from "./AppFeedback.vue";
import TokenRewards from "./TokenRewards.vue";
export default {
  components: { AppFeedback, TokenRewards },
  name: "OtherFunctions",
  props: ["common-css-props", "feed-back-status", "token-and-point-data"],
  data() {
    return {
      showRateDialog: false,
      showTokenRewardDialog: false,
    };
  },
  methods: {
    rateAppFunc() {
      //console.log("rateAppFunc");
      this.showRateDialog = true;
    },
    closeFeedbackDialogFunc() {
      this.showRateDialog = false;
    },
    showTokenRewardDialogFunc() {
      this.showTokenRewardDialog = true;
    },
    closeTokenRewardDialogFunc() {
      this.showTokenRewardDialog = false;
    },
    showStatisticsFunc() {
      this.eventBus.trigger("show-statistics", true);
    },
  },
};
</script>

<style scoped>
.btns2 {
  border-radius: 10px;
  padding: 10px 0;
}
.ml-auto {
  margin-left: auto;
}
.btns3 {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
}
</style>