<template>
  <div class="reward-keys-outer align-v-h-center">
    <div class="reward-keys" id="tokens-key-1">
      <img
        v-if="commonCssProps.darkTheme"
        src="../../assets/icons/key_white_24.png"
      />
      <img v-else src="../../assets/icons/key_black_24.png" />
    </div>
    <div class="reward-keys" id="tokens-key-2">
      <img
        v-if="commonCssProps.darkTheme"
        src="../../assets/icons/key_white_24.png"
      />
      <img v-else src="../../assets/icons/key_black_24.png" />
    </div>
    <div class="reward-keys" id="tokens-key-3">
      <img
        v-if="commonCssProps.darkTheme"
        src="../../assets/icons/key_white_24.png"
      />
      <img v-else src="../../assets/icons/key_black_24.png" />
    </div>
  </div>
</template>

<script>
export default {
  name: "RewardKeysAnimation",
  props: ["common-css-props"],
  emits: ["keys-animation-complete"],
  mounted() {
    //console.log("[RewardKeysAnimation.vue] MOUNTED");
    let tokensKey = document.getElementById("tokens-key").children[0];
    let destinationCoord = tokensKey.getBoundingClientRect();
    let i = 1;

    var navigatorsProperties = [
      "transitionend",
      "OTransitionEnd",
      "webkitTransitionEnd",
    ];

    let flag = true;
    for (var j in navigatorsProperties) {
      document.getElementsByClassName("reward-keys")[2].addEventListener(
        navigatorsProperties[j],
        () => {
          //console.log("transition end : ", j);
          if (flag) this.$emit("keys-animation-complete", true);
          flag = false;
        },
        false
      );
    }

    let animIntVal = setInterval(() => {
      if (i > 3) {
        clearInterval(animIntVal);
      } else {
        let tokensKey1 = document.getElementById("tokens-key-" + i);
        let initialCoord = tokensKey1.getBoundingClientRect();
        tokensKey1.style.left =
          destinationCoord.left - initialCoord.left + "px";
        tokensKey1.style.top = destinationCoord.top - initialCoord.top + "px";
        i++;
      }
    }, 100);
  },
};
</script>

<style scoped>
.reward-keys-outer {
  position: absolute;
  top: 30%;
  left: 42%;
}
.reward-keys {
  position: absolute;
  top: 0%;
  left: 0%;
  transition: all 1.5s ease-in-out;
}
</style>