<template>
  <div class="dialog-div align-v-h-center">
    <div
      class="dialog-box align-v-h-center"
      :style="[commonCssProps.boxShadow]"
      :class="{
        darkThemeClass: commonCssProps.darkTheme,
        lightThemeClass: !commonCssProps.darkTheme,
      }"
    >
      <div v-if="internetConnected" class="dialog-box-inner">
        <div v-if="rewardsAvailable > 0">
          <div v-if="showLoader">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="
                background: transaparent;
                display: block;
                shape-rendering: auto;
                margin: auto;
              "
              width="25.5%"
              height="25.5%"
              viewBox="0 0 100 100"
              preserveAspectRatio="xMidYMid"
            >
              <circle
                cx="50"
                cy="50"
                r="0"
                fill="none"
                stroke="#e90c59"
                stroke-width="2"
              >
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
              </circle>
              <circle
                cx="50"
                cy="50"
                r="0"
                fill="none"
                stroke="#46dff0"
                stroke-width="2"
              >
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                ></animate>
              </circle>
              <!-- [ldio] generated by https://loading.io/ -->
            </svg>
          </div>
          <div class="pos-rel" v-else @click="watchAdFunc">
            <img
              v-if="!commonCssProps.darkTheme"
              src="../../assets/icons/icons8_play_white_64.png"
            />
            <img v-else src="../../assets/icons/icons8_play_black_64.png" />
            <reward-keys-animation
              v-if="rewardCount > 0"
              :common-css-props="commonCssProps"
              @keys-animation-complete="keysAnimationCompleteFunc"
            />
          </div>
          <div class="dialog-msg">Watch Ad and get 5-15 Tokens</div>
          <!-- <div class="dialog-msg watch_ads_get_token">
            Reward may be 3 Hints or 5-15 Tokens
          </div> -->
        </div>
        <div v-else>
          <div class="dialog-msg">You got all the Rewards</div>
          <div class="dialog-msg">Come back tomorrow!</div>
        </div>
        <div
          @click="cancelFunc"
          class="btns"
          :style="commonCssProps.borderColor"
        >
          Cancel
        </div>
      </div>
      <div v-else class="dialog-box-inner">
        <div class="dialog-msg">Please check your Internet Connection.</div>
        <div
          @click="cancelFunc"
          class="btns"
          :style="commonCssProps.borderColor"
        >
          Cancel
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RewardKeysAnimation from "./RewardKeysAnimation.vue";

export default {
  components: { RewardKeysAnimation },
  name: "TokenRewards",
  props: ["common-css-props", "token-and-point-data"],
  data() {
    return {
      showLoader: false,
      internetConnected: true,
      rewardsAvailable: false,
      rewardCount: 0,
      rewardGiven: false,
    };
  },
  beforeMount() {
    this.eventBus.on("stop-showing-loader", () => {
      //console.log("[TokenRewards.vue] beforeMount stop-showing-loader");
      this.showLoader = false;
    });

    this.eventBus.on("token-reward-given", () => {
      //console.log("[TokenRewards.vue] beforeMount REWARED VIDEO SEEN.......");
      var tok = Math.floor(Math.random() * 11) + 5;
      //console.log("tok : ", tok);
      this.rewardCount = tok;
      this.showLoader = false;
    });
  },
  mounted() {
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, "0");
    var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
    var yyyy = today.getFullYear();

    today = dd + "/" + mm + "/" + yyyy;

    if (this.tokenAndPointData.today_date.toString() == today.toString()) {
      this.rewardsAvailable = this.tokenAndPointData.tokenGifts;
    } else {
      this.tokenAndPointData.today_date = today;
      this.tokenAndPointData.tokenGifts = 3;
      this.rewardsAvailable = 3;
      this.eventBus.trigger("save-tokens-and-points", true);
    }

    this.cordova.on("deviceready", () => {
      if (this.cordova.connection.type == "none") {
        this.internetConnected = false;
      } else {
        this.internetConnected = true;
      }
      document.addEventListener("offline", () => {
        this.internetConnected = false;
      });
      document.addEventListener("online", () => {
        this.internetConnected = true;
      });
    });
  },
  methods: {
    cancelFunc() {
      if (this.rewardCount == 0) this.$emit("close-token-reward-dialog", true);
    },
    watchAdFunc() {
      //console.log("watchAdFunc");
      this.showLoader = true;
      this.eventBus.trigger("request-rewarded-ad", "tokens");
    },
    keysAnimationCompleteFunc() {
      let tokenIntVal = setInterval(() => {
        this.tokenAndPointData.tokens += 1;
        this.rewardCount--;
        if (this.rewardCount <= 0) {
          this.tokenAndPointData.tokenGifts--;
          this.rewardsAvailable = this.tokenAndPointData.tokenGifts;
          this.eventBus.trigger("save-tokens-and-points", true);
          clearInterval(tokenIntVal);
        }
      }, 10);
    },
  },
};
</script>

<style scoped>
div {
  text-align: center;
}
.dialog-div {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 100%;
  height: 100%;
}
.dialog-box {
  border: 3px solid blueviolet;
  border-radius: 20px;
  padding: 10px;
}
.dialog-msg {
  padding: 5px;
}
.dialog-box-inner {
  width: 100%;
}
.btns {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}
.watch_ads_get_token {
  font-size: 13px;
}
.pos-rel {
  position: relative;
}
</style>