<template>
  <div class="h-100">
    <div class="h-100 align-v-h-center" v-if="showInternetNotConnected">
      <div class="item-center">
        <img
          v-if="commonCssProps.darkTheme"
          src="../../assets/icons/wifi_off_white_48dp.svg"
        />
        <img v-else src="../../assets/icons/wifi_off_black_48dp.svg" />
        <div>Check your device's Internet Connection</div>
      </div>
    </div>
    <div class="h-100" v-else>
      <div class="h-10 align-v-h-center">
        <div @click="stopMusic">
          <img
            v-if="commonCssProps.darkTheme"
            src="../../assets/icons/music_off_white_24dp.svg"
          />
          <img v-else src="../../assets/icons/music_off_black_24dp.svg" />
        </div>
      </div>
      <div class="h-90 overflow-prop">
        <div class="h-100 align-v-h-center" v-if="songListLength <= 0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            style="
              background: transaparent;
              display: block;
              shape-rendering: auto;
              margin: auto;
            "
            width="50%"
            height="50%"
            viewBox="0 0 100 100"
            preserveAspectRatio="xMidYMid"
          >
            <circle
              cx="50"
              cy="50"
              r="0"
              fill="none"
              stroke="#e90c59"
              stroke-width="2"
            >
              <animate
                attributeName="r"
                repeatCount="indefinite"
                dur="1s"
                values="0;40"
                keyTimes="0;1"
                keySplines="0 0.2 0.8 1"
                calcMode="spline"
                begin="-0.5s"
              ></animate>
              <animate
                attributeName="opacity"
                repeatCount="indefinite"
                dur="1s"
                values="1;0"
                keyTimes="0;1"
                keySplines="0.2 0 0.8 1"
                calcMode="spline"
                begin="-0.5s"
              ></animate>
            </circle>
            <circle
              cx="50"
              cy="50"
              r="0"
              fill="none"
              stroke="#46dff0"
              stroke-width="2"
            >
              <animate
                attributeName="r"
                repeatCount="indefinite"
                dur="1s"
                values="0;40"
                keyTimes="0;1"
                keySplines="0 0.2 0.8 1"
                calcMode="spline"
              ></animate>
              <animate
                attributeName="opacity"
                repeatCount="indefinite"
                dur="1s"
                values="1;0"
                keyTimes="0;1"
                keySplines="0.2 0 0.8 1"
                calcMode="spline"
              ></animate>
            </circle>
            <!-- [ldio] generated by https://loading.io/ -->
          </svg>
        </div>
        <div v-else v-for="idx in songListLength" :key="idx" class="row my-5">
          <div
            v-for="jdx in 3"
            :key="jdx"
            class="col-4 my-5"
            @click="playThisSong(3 * (idx - 1) + jdx - 1)"
          >
            <div v-if="3 * (idx - 1) + jdx - 1 < firebaseSongList.length">
              <div class="item-center">
                <img
                  v-if="currentlyPlayingSongNum == [3 * (idx - 1) + jdx - 1]"
                  src="../../assets/icons/icons8_musical_orange_24.png"
                />
                <img
                  v-else-if="commonCssProps.darkTheme"
                  src="../../assets/icons/icons8_musical_white_24.png"
                />
                <img
                  v-else
                  src="../../assets/icons/icons8_musical_black_24.png"
                />
              </div>
              <audio
                :id="firebaseSongList[3 * (idx - 1) + jdx - 1].name"
                :loop="true"
                preload="auto"
                :src="firebaseSongList[3 * (idx - 1) + jdx - 1].url"
              ></audio>
              <div class="word-break item-center">
                {{
                  nameToDisplay(firebaseSongList[3 * (idx - 1) + jdx - 1].name)
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MusicGround",
  props: ["common-css-props", "game-is-on", "show-internet-not-connected"],
  data() {
    return {
      firebaseSongList: [],
      nextPageTokenValue: null,
      audioElement: null,
      currentlyPlaying: false,
      currentlyPlayingSongNum: -1,
      selectedSongNum: -1,
      songPaused: false,
    };
  },
  watch: {
    showInternetNotConnected(n) {
      //console.log("[MusicGround.vue] this.showInternetNotConnected:", n);
      if (!n && this.firebaseSongList.length <= 0) {
        this.getFirebaseMusicFiles();
      }
    },
    songPaused() {
      //console.log("[MusicGround.vue] songPaused WATCHER : ", n);
      //console.log(
      //   "[MusicGround.vue] songPaused WATCHER selectedSongNum: ",
      //   this.selectedSongNum
      // );
      if (this.selectedSongNum != -1) {
        this.startPlaying();
      // } else {
        //console.log(
        //   "[MusicGround.vue] songPaused WATCHER SELECT A MUSIC FILE: "
        // );
      }
    },
  },
  computed: {
    songListLength() {
      return Math.ceil(this.firebaseSongList.length / 3);
    },
  },
  methods: {
    startPlaying() {
      if (this.selectedSongNum != -1) {
        let name = this.firebaseSongList[this.selectedSongNum].name;
        let mime = this.firebaseSongList[this.selectedSongNum].mime;

        //console.log("[MusicGround.vue] startPlaying : ", name);

        this.audioElement = document.getElementById(name);

        const playable = this.audioElement.canPlayType(mime);
        // //console.log("[MusicGround.vue] playable : ", playable);
        if (playable) {
          this.audioElement.load();
          this.currentlyPlayingSongNum = this.selectedSongNum;
        }
        this.selectedSongNum = -1;
        // //console.log(
        //   "[MusicGround.vue] selectedSongNum : ",
        //   this.selectedSongNum
        // );

        this.audioElement.addEventListener(
          "canplaythrough",
          this.canPlayThroughFunc
        );
        this.audioElement.addEventListener("playing", this.playingFunc);
        this.audioElement.addEventListener("pause", this.pauseFunc);
        this.audioElement.onerror = (err) => {
          console.log("[MusicGround.vue] onerror : ", err);
        };
      // } else {
        //console.log("[MusicGround.vue] SELECT A SONG");
      }
    },
    playThisSong(t) {
      this.selectedSongNum = t;
      if (this.currentlyPlaying) {
        this.stopMusic();
      } else {
        this.startPlaying();
      }
    },
    stopMusic() {
      //console.log("[MusicGround.vue] stopMusic ");
      //console.log("[MusicGround.vue] this.audioElement : ", this.audioElement);

      if (
        this.audioElement &&
        (this.currentlyPlaying || !this.audioElement.paused)
      ) {
        this.audioElement.pause();
      }
    },
    nameToDisplay(str) {
      let ret = str.split(".")[0];
      ret = ret[0].toUpperCase() + ret.substring(1);
      return ret;
    },
    getFirebaseMusicFiles() {
      var storageRef = this.firebaseStorage.ref("music");
      // //console.log("storageRef : ", storageRef);
      storageRef
        .list({ maxResults: 3, pageToken: this.nextPageTokenValue })
        .then((res) => {
          var promises = [];
          res.items.forEach((element) => {
            promises.push(element.getMetadata());
          });
          // //console.log("promises : ", promises);

          Promise.all(promises)
            .then((data) => {
              //console.log("tdata : ", data);

              var urlPromises = [];
              for (var i = 0; i < data.length; i++) {
                let songData = {
                  name: data[i].name,
                  mime: data[i].contentType,
                  url: "",
                };
                let someP = storageRef
                  .child(data[i].name)
                  .getDownloadURL()
                  .then((url) => {
                    songData.url = url;
                    this.firebaseSongList.push(songData);
                    return true;
                  });
                urlPromises.push(someP);
              }
              // //console.log("urlPromises : ", urlPromises);
              Promise.all(urlPromises).then(() => {
                if (
                  res.nextPageToken != undefined ||
                  res.nextPageToken != null
                ) {
                  this.nextPageTokenValue = res.nextPageToken;

                  // if (this.cordova.connection.type != "none") {
                  this.getFirebaseMusicFiles();
                  // }
                } else {
                  this.nextPageTokenValue = null;
                  //console.log("[MusicGround.vue] NO TOKEN AVAILABLE");
                }
              });
            })
            .catch(function (error) {
              console.log("Error : ", error);
            });
        });
    },
    canPlayThroughFunc() {
      //console.log("[MusicGround.vue] ", t.type);
      this.audioElement.play();
    },
    playingFunc() {
      //console.log("[MusicGround.vue] ", t.type);
      this.currentlyPlaying = true;
      this.songPaused = false;
    },
    pauseFunc() {
      //console.log("[MusicGround.vue] ", t.type);
      this.currentlyPlaying = false;
      this.currentlyPlayingSongNum = -1;
      this.songPaused = true;
    },
  },
};
</script>

<style scoped>
.overflow-prop {
  overflow: auto;
  padding: 0 10px;
}
.word-break {
  word-break: break-word;
}
.my-5 {
  margin: 10px 5px;
}
.h-90 {
  height: 90% !important;
}
.h-10 {
  height: 10% !important;
}
</style>