<template>
  <div class="w-20 h-100">
    <div class="score_class align-v-h-center">
      <div class="score_text w-100">{{ lightening.currScore }}</div>
    </div>
    <div class="timer_blink align-v-h-center">
      <div class="timer_blink_outer w-100">
        <div
          :style="{ width: lightening.timerState + '%' }"
          class="timer_blink_inner"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LighteningTimer",
  props: [
    "common-css-props",
    "start-game-type",
    "sudoku-data",
    "token-and-point-data",
    "pause-timer-clock",
  ],
  data() {
    return {
      lightening: { currScore: Infinity, timerState: 100 },
      currScoreReducer: null,
      timerStateInterVal: null,
      scoreToReduce: [30, 40, 50, 60, 70, 80, 90, 100],
      mistakeNum: 0,
      scoreToAdd: [50, 100, 140, 170, 190, 200],
      scoreNum: 0,
    };
  },
  watch: {
    // pauseTimerClock(n) {
      //console.log("[LighteningTimer.vue] pauseTimerClock : ", n);
    // },
  },
  beforeMount() {
    this.cordova.on("deviceready", () => {
      document.addEventListener(
        "pause",
        (event) => {
          event.preventDefault();
          clearInterval(this.timerStateInterVal);
          clearInterval(this.currScoreReducer);
        },
        false
      );

      document.addEventListener(
        "resume",
        (event) => {
          event.preventDefault();
          //console.log("[LighteningTimer.vue] RESUME");
          this.startTimer();
        },
        false
      );
    });

    this.eventBus.on("pause-clock-or-timer", this.stopClock);

    this.eventBus.on("resume-clock-or-timer", () => {
      //console.log("[LighteningTimer.vue] resume-clock-or-timer : ", t);
      this.startTimer();
    });

    this.eventBus.on("mistake-happens", () => {
      // //console.log("[LighteningTimer.vue] mistake-happens:", t);
      if (this.lightening.timerState > 0) {
        this.lightening.timerState = 0;
        this.mistakeNum = 0;
      } else {
        //console.log(
        //   "this.scoreToReduce[this.mistakeNum] : ",
        //   this.scoreToReduce[this.mistakeNum]
        // );
        this.lightening.currScore -= this.scoreToReduce[this.mistakeNum++];
        if (this.lightening.currScore < 0) this.lightening.currScore = 0;
        if (this.mistakeNum >= this.scoreToReduce.length) this.mistakeNum--;
      }
    });

    this.eventBus.on("correct-num-entered", () => {
      // //console.log("[LighteningTimer.vue] correct-num-entered:", t);

      if (this.lightening.timerState === 0) {
        this.lightening.timerState = 100;
        this.scoreNum = 0;
        this.startTimer();
      } else {
        this.lightening.timerState = 100;
        //console.log(
        //   "this.scoreToAdd[this.scoreNum] : ",
        //   this.scoreToAdd[this.scoreNum]
        // );
        this.lightening.currScore += this.scoreToAdd[this.scoreNum++];
        if (this.scoreNum >= this.scoreToAdd.length) this.scoreNum--;
      }
    });

    this.sudokuData.forEach((element) => {
      if (
        element.type === this.startGameType.gameType &&
        element.level === this.startGameType.gameSubType
      ) {
        if (
          this.startGameType.startType ==
          this.constants.GAME_NEW_RESUME_TYPE.NEW_GAME
        ) {
          let initialScore = Infinity;

          if (
            this.startGameType.gameSubType == this.constants.GAME_SUB_TYPE.EASY
          ) {
            initialScore = this.constants.EASY_SCORE;
          } else if (
            this.startGameType.gameSubType ==
            this.constants.GAME_SUB_TYPE.MEDIUM
          ) {
            initialScore = this.constants.MEDIUM_SCORE;
          } else if (
            this.startGameType.gameSubType == this.constants.GAME_SUB_TYPE.HARD
          ) {
            initialScore = this.constants.HARD_SCORE;
          } else {
            initialScore = this.constants.EXPERT_SCORE;
          }
          //console.log("[LighteningTimer.vue] initialScore : ", initialScore);

          this.lightening.currScore = initialScore;
          this.lightening.timerState = 100;
          element.lightening = this.lightening;
          //console.log(
          //   "[LighteningTimer.vue] element.lightening : ",
          //   element.lightening
          // );
        } else {
          this.lightening = element.lightening;
        }
      }
    });
    this.eventBus.on("set-initial-state-timer-or-clock", () => {
      //console.log(
      //   "[LighteningTimer.vue] set-initial-state-timer-or-clock : ",
      //   t
      // );
      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          let initialScore = Infinity;

          if (
            this.startGameType.gameSubType == this.constants.GAME_SUB_TYPE.EASY
          ) {
            initialScore = this.constants.EASY_SCORE;
          } else if (
            this.startGameType.gameSubType ==
            this.constants.GAME_SUB_TYPE.MEDIUM
          ) {
            initialScore = this.constants.MEDIUM_SCORE;
          } else if (
            this.startGameType.gameSubType == this.constants.GAME_SUB_TYPE.HARD
          ) {
            initialScore = this.constants.HARD_SCORE;
          } else {
            initialScore = this.constants.EXPERT_SCORE;
          }
          //console.log("[LighteningTimer.vue] initialScore : ", initialScore);

          this.lightening.currScore = initialScore;
          this.lightening.timerState = 100;
          element.lightening = this.lightening;
          //console.log(
          //   "[LighteningTimer.vue] element.lightening : ",
          //   element.lightening
          // );
        }
      });
    });
  },
  mounted() {
    if (!this.pauseTimerClock) this.startTimer();
  },
  methods: {
    stopClock() {
      //console.log(
      //   "[LighteningTimer.vue] stopClock this.timerStateInterVal:",
      //   this.timerStateInterVal,
      //   " this.currScoreReducer:",
      //   this.currScoreReducer
      // );
      clearInterval(this.timerStateInterVal);
      clearInterval(this.currScoreReducer);
    },
    startTimer() {
      clearInterval(this.timerStateInterVal);
      this.timerStateInterVal = setInterval(() => {
        if (this.lightening.timerState == 0) {
          clearInterval(this.timerStateInterVal);
          this.startLightening();
        } else {
          this.lightening.timerState--;
          // //console.log(
          //   "[LighteningTimer.vue] timerState:",
          //   this.lightening.timerState
          // );
        }
      }, 70);
    },
    startLightening() {
      clearInterval(this.currScoreReducer);
      this.currScoreReducer = setInterval(() => {
        if (this.lightening.timerState === 0) {
          if (this.lightening.currScore > 0) {
            this.lightening.currScore -= 10;
            // //console.log(
            //   "[LighteningTimer.vue] currScore:",
            //   this.lightening.currScore
            // );
          }
        } else {
          clearInterval(this.currScoreReducer);
        }
      }, 1000);
    },
  },
};
</script>

<style scoped>
.score_class {
  height: 60%;
}
.score_text {
  font-size: 19px;
}
.timer_blink {
  height: 40%;
}
.timer_blink_outer {
  padding: 0px 5px;
}
.timer_blink_inner {
  padding: 3px 0px;
  background: blue;
}
</style>
