<template>
  <div class="w-20 align-v-h-center">
    <div>
      <div>Mistakes</div>
      <div v-if="mistake.count == 0">
        <img
          v-if="commonCssProps.darkTheme"
          src="../../../assets/icons/icons8-error-white-24.png"
        />
        <img v-else src="../../../assets/icons/icons8-error-black-24.png" />
      </div>
      <div v-else-if="mistake.count == 1">
        <img src="../../../assets/icons/icons8-error-orange-24.png" />
      </div>
      <div v-else>
        <img src="../../../assets/icons/icons8-error-red-24.png" />
      </div>
      <div>{{ mistake.count }}/{{ Math.max(mistake.maxCount, mistake.count+1) }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MistakeCount",
  props: ["common-css-props", "start-game-type", "sudoku-data"],
  data() {
    return {
      mistake: { count: 0, maxCount: 3 },
    };
  },
  beforeMount() {
    this.sudokuData.forEach((element) => {
      if (
        element.type === this.startGameType.gameType &&
        element.level === this.startGameType.gameSubType
      ) {
        if (
          this.startGameType.startType ==
          this.constants.GAME_NEW_RESUME_TYPE.NEW_GAME
        ) {
          this.mistake.count = 0;
          this.mistake.maxCount = 3;
          element.mistake = this.mistake;
        } else {
          this.mistake = element.mistake;
        }
      }
    });
  },
};
</script>