<template>
  <div class="w-20 align-v-h-center">
    <div class="w-100 h-100" @click="toggleFunc">
      <div class="pen-pencil-class">
        <div :style="keepRotating">
          <div v-if="penActive">
            <img
              v-if="commonCssProps.darkTheme"
              src="../../../assets/icons/icons8-ball-point-pen-white-24.png"
            />
            <img
              v-else
              src="../../../assets/icons/icons8-ball-point-pen-black-24.png"
            />
          </div>
          <div v-else>
            <img
              v-if="commonCssProps.darkTheme"
              src="../../../assets/icons/icons8-pencil-white-24.png"
            />
            <img
              v-else
              src="../../../assets/icons/icons8-pencil-black-24.png"
            />
          </div>
        </div>
        <div v-if="penActive"><div>Pen</div></div>
        <div v-else><div>Pencil</div></div>
      </div>
      <div class="tokenCount">
        <div>
          <img
            class="tokenImg"
            :style="zoomIn"
            v-if="alertTokenNeeded"
            src="../../../assets/icons/key_red_24.png"
          />
          <img
            class="tokenImg"
            :style="zoomIn"
            v-else-if="commonCssProps.darkTheme"
            src="../../../assets/icons/key_white_24.png"
          />
          <img
            class="tokenImg"
            :style="zoomIn"
            v-else
            src="../../../assets/icons/key_black_24.png"
          />
          {{ tokenAndPointData ? tokenAndPointData.tokens : 0 }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PenPencil",
  props: ["common-css-props", "token-and-point-data"],
  emits: [],
  data() {
    return {
      penActive: true,
      rotateAngle: 0,
      interVal: null,
      incAngle: true,
      scaleFactor: 0,
      scaleFactorInterVal: null,
      alertTokenNeeded: false,
    };
  },
  computed: {
    keepRotating() {
      return {
        transform: " rotateY(" + this.rotateAngle + "deg)",
      };
    },
    zoomIn() {
      return {
        transform: " scale(1." + this.scaleFactor + ")",
      };
    },
  },
  beforeMount() {
    this.eventBus.on("powerup-check-tokens", (t) => {
      //console.log("[PenPencil.vue] powerup-check-tokens: ", t);
      if (this.tokenAndPointData) {
        if (
          t === this.constants.PENCIL_FILL_ALL &&
          this.tokenAndPointData.tokens >= 15
        ) {
          this.eventBus.trigger("pencil-fill", true);
        } else if (
          t === this.constants.SHOW_SPECIFIC_NUM &&
          this.tokenAndPointData.tokens >= 15
        ) {
          this.eventBus.trigger("show-specific-num", true);
        } else if (
          t === this.constants.STOP_TIMER &&
          this.tokenAndPointData.tokens >= 10
        ) {
          this.eventBus.trigger("stop-timer", true);
        } else {
          this.zoomInAndFadeOut();
        }
      } else {
        this.zoomInAndFadeOut();
      }
    });
  },
  methods: {
    toggleFunc() {
      // //console.log("toggleFunc");
      clearInterval(this.interVal);
      // var inc = this.rotateAngle == 0;
      this.interVal = setInterval(() => {
        if (this.incAngle) {
          this.rotateAngle++;
          if (this.rotateAngle == 180) {
            clearInterval(this.interVal);
            this.eventBus.trigger("is-pen-active", this.penActive);
            this.incAngle = false;
          }
        } else {
          this.rotateAngle--;
          if (this.rotateAngle == 0) {
            clearInterval(this.interVal);
            this.eventBus.trigger("is-pen-active", this.penActive);
            this.incAngle = true;
          }
        }
        if (this.rotateAngle == 90) {
          this.penActive = !this.penActive;
        }
        // //console.log(!this.penActive ? "pen" : "pencil");
      }, 1);
    },
    zoomInAndFadeOut() {
      this.alertTokenNeeded = true;
      clearInterval(this.scaleFactorInterVal);
      this.scaleFactorInterVal = setInterval(() => {
        if (this.scaleFactor < 10) {
          this.scaleFactor++;
        } else {
          this.alertTokenNeeded = false;
          clearInterval(this.scaleFactorInterVal);
          this.scaleFactor = 0;
          //console.log("TOKEN NEEDED!");
        }
      }, 30);
    },
  },
};
</script>

<style scoped>
.pen-pencil-class {
  height: 70%;
}
.tokenCount {
  height: 30%;
}
.tokenImg {
  width: 16px;
}
</style>
