<template>
  <div class="w-20 align-v-h-center">
    <div>
      <div @click="showHint" class="hint_icon">
        <div
          :style="commonCssProps.borderColor"
          class="hint_icon_inner align-v-h-center"
        >
          <div v-if="showLoader">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="
                background: transaparent;
                display: block;
                shape-rendering: auto;
                margin: auto;
              "
              width="100%"
              height="100%"
              viewBox="0 0 100 100"
              preserveAspectRatio="xMidYMid"
            >
              <circle
                cx="50"
                cy="50"
                r="0"
                fill="none"
                stroke="#e90c59"
                stroke-width="2"
              >
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
              </circle>
              <circle
                cx="50"
                cy="50"
                r="0"
                fill="none"
                stroke="#46dff0"
                stroke-width="2"
              >
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                ></animate>
              </circle>
              <!-- [ldio] generated by https://loading.io/ -->
            </svg>
          </div>
          <div v-else>
            <img
              v-if="commonCssProps.darkTheme"
              class="rotateBulb"
              src="../../../assets/icons/wb_incandescent_white_24dp.svg"
            />
            <img
              v-else
              class="rotateBulb"
              src="../../../assets/icons/wb_incandescent_black_24dp.svg"
            />
          </div>
        </div>
      </div>
      <div>Hint : {{ hint.maxHint }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ShowHint",
  props: ["common-css-props", "start-game-type", "sudoku-data"],
  data() {
    return {
      hint: { maxHint: 2, hintUsed: 0 },
      showLoader: false,
      cellSelected: null,
    };
  },
  beforeMount() {
    this.sudokuData.forEach((element) => {
      if (
        element.type === this.startGameType.gameType &&
        element.level === this.startGameType.gameSubType
      ) {
        if (
          this.startGameType.startType ==
          this.constants.GAME_NEW_RESUME_TYPE.NEW_GAME
        ) {
          this.hint.hintUsed = 0;
          this.hint.maxHint = 2;
          element.hint = this.hint;
        } else {
          this.hint = element.hint;
        }
      }
    });
    this.eventBus.on("current-selected-cell", (t) => {
      //console.log("[ShowHint.vue] current-selected-cell : ", t);
      this.cellSelected = t;
    });

    this.eventBus.on("stop-showing-loader", () => {
      //console.log("[ShowHint.vue] beforeMount stop-showing-loader");
      this.showLoader = false;
    });

    this.eventBus.on("hint-reward-given", () => {
      //console.log("[ShowHint.vue] beforeMount REWARED VIDEO SEEN.......");
      this.giveRewardFunc(true);
    });
  },
  methods: {
    giveRewardFunc(t) {
      //console.log("[ShowHint.vue] giveRewardFunc : ", t);
      this.showLoader = false;
      if (t) {
        if (
          this.cellSelected != null &&
          this.cellSelected.idx != -1 &&
          this.cellSelected.jdx != -1
        ) {
          //console.log("Hint Available......", this.hint.maxHint);
          this.hint.hintUsed++;
          this.eventBus.trigger("show-hint", true);
        // } else {
          //console.log("[ShowHint.vue] SELCT A ACELL");
        }
      }
    },
    showHint() {
      if (
        this.cellSelected != null &&
        this.cellSelected.idx != -1 &&
        this.cellSelected.jdx != -1
      ) {
        if (this.hint.maxHint == 0) {
          this.cordova.on("deviceready", () => {
            if (this.cordova.connection.type != "none") {
              this.showLoader = true;
              //console.log("[ShowHint.vue] ShoW AD Here");
              this.eventBus.trigger("request-rewarded-ad", "hint");
            } else {
              this.showConnectionErrorToast();
            }
          });
        } else {
          //console.log("Hint Available......", this.hint.maxHint);
          this.hint.maxHint--;
          this.hint.hintUsed++;
          this.eventBus.trigger("show-hint", true);
        }
      // } else {
        //console.log("[ShowHint.vue] SELCT A ACELL");
      }
    },
    showConnectionErrorToast() {
      this.cordova.on("deviceready", () => {
        this.cordova.toast.showWithOptions(
          {
            message: "Connection Unavailable",
            duration: "short",
            position: "bottom",
            addPixelsY: -100,
            styling: {
              backgroundColor: this.commonCssProps.darkTheme
                ? "#fddc72"
                : "#3f57f6", // make sure you use #RRGGBB. Default #333333
              textColor: this.commonCssProps.darkTheme ? "#3f57f6" : "#fddc72", // Ditto. Default #FFFFFF
              textSize: 20.5, // Default is approx. 13.
              cornerRadius: 50, // minimum is 0 (square). iOS default 20, Android default 100
              horizontalPadding: 80, // iOS default 16, Android default 50
              verticalPadding: 50, // iOS default 12, Android default 30
            },
          },
          (success) => {
            console.log("toast.showWithOptions success : ", success);
          },
          (err) => {
            console.log("toast.showWithOptions err : ", err);
          }
        );
      });
    },
  },
};
</script>

<style scoped>
.hint_icon {
  height: 2.8em;
  margin: auto;
}
.hint_icon_inner {
  margin: auto;
  height: 100%;
  width: 2.8rem;
  border-radius: 50%;
}
.rotateBulb {
  transform: rotate(180deg);
}
</style>
