<template>
  <div class="w-20 h-100 align-v-h-center">
    <div class="">
      <div class="digital_clock">
        <div
          :style="commonCssProps.borderColor"
          class="digital_clock_inner align-v-h-center"
        >
          <div class="hand h-100" :style="rotateHand">
            <div :style="commonCssProps.borderColor" class="hand_inner"></div>
          </div>
        </div>
      </div>
      <div class="analog_clock">
        {{ getReadableTime }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TimeClock",
  props: [
    "common-css-props",
    "start-game-type",
    "sudoku-data",
    "token-and-point-data",
    "pause-timer-clock",
  ],
  emits: [],
  data() {
    return {
      clk: null,
      clock: {
        clockAngle: 0,
        resumeTime: 0,
      },
    };
  },
  watch: {
    pauseTimerClock(n) {
      //console.log("[TimeClock.vue] pauseTimerClock : ", n);
      if (n) {
        this.stopClock();
      }
    },
  },
  computed: {
    getReadableTime() {
      var tmp = new Date(null);
      tmp.setSeconds(this.clock.resumeTime);
      return tmp.toISOString().substr(11, 8);
    },
    rotateHand() {
      return {
        transform: "rotate(" + this.clock.clockAngle + "deg)",
      };
    },
  },
  beforeMount() {
    this.cordova.on("deviceready", () => {
      document.addEventListener(
        "pause",
        (event) => {
          event.preventDefault();
          clearInterval(this.clk);
        },
        false
      );

      document.addEventListener(
        "resume",
        (event) => {
          event.preventDefault();
          //console.log("[TimeClock.vue] RESUME");
          this.startClock();
        },
        false
      );
    });

    this.eventBus.on("resume-clock-or-timer", () => {
      //console.log("[TimeClock.vue] resume-clock-or-timer : ", t);
      this.startClock();
    });

    this.eventBus.on("stop-timer", () => {
      //console.log("[TimeClock.vue] stop-timer : ", t);
      if (this.clk) {
        this.tokenAndPointData.tokens -= 10;
        clearInterval(this.clk);
        this.clk = null;

        this.sudokuData.forEach((element) => {
          if (
            element.type === this.startGameType.gameType &&
            element.level === this.startGameType.gameSubType
          ) {
            element.helpObjUsed.stopTimer++;
            return;
          }
        });
        this.eventBus.trigger("save-sudoku-data", {
          type: this.startGameType.gameType,
          level: this.startGameType.gameSubType,
        });

        setTimeout(() => {
          //console.log("[TimeClock.vue] STARTING CLOCK AGAIN");
          this.startClock();
        }, 10000);
      }
    });

    this.sudokuData.forEach((element) => {
      if (
        element.type === this.startGameType.gameType &&
        element.level === this.startGameType.gameSubType
      ) {
        if (
          this.startGameType.startType ==
          this.constants.GAME_NEW_RESUME_TYPE.NEW_GAME
        ) {
          this.clock.clockAngle = 0;
          this.clock.resumeTime = 0;
          element.clock = this.clock;
        } else {
          this.clock = element.clock;
        }
      }
    });
    //console.log("[TimeClock.vue] BEFORE MOUNT");
    this.eventBus.on("set-initial-state-timer-or-clock", () => {
      //console.log("[TimeClock.vue] set-initial-state-timer-or-clock : ", t);
      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          this.clock.clockAngle = 0;
          this.clock.resumeTime = 0;
          element.clock = this.clock;
        }
      });
    });

    this.eventBus.on("pause-clock-or-timer", this.stopClock);
  },
  beforeUnmount() {
    //console.log("[TimeClock.vue] BEFORE UNMOUNT");
    clearInterval(this.clk);
    this.clk = null;
  },
  mounted() {
    if (!this.pauseTimerClock) this.startClock();
  },
  methods: {
    startClock() {
      clearInterval(this.clk);
      this.clk = setInterval(() => {
        this.clock.clockAngle += 6;
        this.clock.resumeTime += 1;
        if (this.clock.clockAngle == 360) this.clock.clockAngle = 0;
      }, 1000);
    },
    stopClock() {
      //console.log(
      //   "[TimeClock.vue] stopClock pause-clock-or-timer : ",
      //   t,
      //   " this.clk: ",
      //   this.clk
      // );
      clearInterval(this.clk);
    },
  },
};
</script>

<style scoped>
.digital_clock {
  height: 2.8em;
  margin: auto;
}
.digital_clock_inner {
  margin: auto;
  height: 100%;
  width: 2.8rem;
  border-radius: 50%;
}
.hand_inner {
  border: 1px solid black;
  height: 50%;
  transform: translateY(2px);
}
.analog_clock {
  padding-top: 3px;
}
</style>
