<template>
  <div>
    <div class="h-100 align-v-h-center">
      <div v-if="showGameType" class="item-center w-100 mt-25">
        <div
          @click="
            gameTypeFunc(constants.GAME_TYPE.NAME, constants.GAME_TYPE.CLASSIC)
          "
          :style="commonCssProps.borderColor"
          class="btns"
        >
          Classic
        </div>
        <div
          @click="
            gameTypeFunc(
              constants.GAME_TYPE.NAME,
              constants.GAME_TYPE.LIGHTENING
            )
          "
          :style="commonCssProps.borderColor"
          class="btns"
        >
          Lightening
        </div>
        <other-functions
          :common-css-props="commonCssProps"
          :feed-back-status="feedBackStatus"
          :token-and-point-data="tokenAndPointData"
        ></other-functions>
        <div v-if="numberFact.length > 0" class="number-fact">
          <strong>Numbers Fact</strong>
          <p>{{ numberFact }}</p>
        </div>
      </div>
      <div v-if="showGameSubType" class="item-center w-100">
        <div
          @click="
            gameTypeFunc(
              constants.GAME_SUB_TYPE.NAME,
              constants.GAME_SUB_TYPE.EASY
            )
          "
          :style="commonCssProps.borderColor"
          class="btns"
        >
          Easy
        </div>
        <div
          @click="
            gameTypeFunc(
              constants.GAME_SUB_TYPE.NAME,
              constants.GAME_SUB_TYPE.MEDIUM
            )
          "
          :style="commonCssProps.borderColor"
          class="btns"
        >
          Medium
        </div>
        <div
          @click="
            gameTypeFunc(
              constants.GAME_SUB_TYPE.NAME,
              constants.GAME_SUB_TYPE.HARD
            )
          "
          :style="commonCssProps.borderColor"
          class="btns"
        >
          Hard
        </div>
        <div
          @click="
            gameTypeFunc(
              constants.GAME_SUB_TYPE.NAME,
              constants.GAME_SUB_TYPE.EXPERT
            )
          "
          :style="commonCssProps.borderColor"
          class="btns"
        >
          Expert
        </div>
      </div>
      <div v-if="showGameNewResumeType" class="item-center w-100">
        <div
          @click="
            gameTypeFunc(
              constants.GAME_NEW_RESUME_TYPE.NAME,
              constants.GAME_NEW_RESUME_TYPE.RESUME
            )
          "
          :style="commonCssProps.borderColor"
          class="btns"
        >
          Resume
          {{
            startGameType.gameType === constants.GAME_TYPE.CLASSIC
              ? resumeTime
              : ""
          }}
        </div>
        <div
          @click="
            gameTypeFunc(
              constants.GAME_NEW_RESUME_TYPE.NAME,
              constants.GAME_NEW_RESUME_TYPE.NEW_GAME
            )
          "
          :style="commonCssProps.borderColor"
          class="btns"
        >
          New Game
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OtherFunctions from "../otherFunctionality/OtherFunctions.vue";
export default {
  components: { OtherFunctions },
  name: "GameControl",
  props: [
    "number-fact",
    "common-css-props",
    "sudoku-data",
    "show-music-ground",
    "feed-back-status",
    "token-and-point-data",
    "show-statistics-ground",
  ],
  emits: ["start-game"],
  data() {
    return {
      showGameType: true,
      showGameSubType: false,
      showGameNewResumeType: false,
      resumeTime: 0,
      startGameType: {
        gameType: null,
        gameSubType: null,
        startType: null,
      },
    };
  },
  beforeMount() {
    this.eventBus.on("go-to-home", () => {
      this.eventBus.trigger("back-btn-pressed-second", true);
      //console.log("[MainPage.vue] go-to-home : ", t);
      this.showGameType = true;
      this.showGameSubType = false;
      this.showGameNewResumeType = false;
    });
    this.eventBus.on("back-btn-pressed", (ar) => {
      // //console.log("[GameControl.vue] arrr : ", ar);
      if (ar) {
        if (this.showGameNewResumeType) {
          this.showGameType = false;
          this.showGameSubType = true;
          this.showGameNewResumeType = false;
        } else if (this.showGameSubType) {
          this.showGameType = true;
          this.showGameSubType = false;
          this.showGameNewResumeType = false;
          this.eventBus.trigger("show-back-btn", false);
        } else if (
          !this.showGameType &&
          !this.showGameSubType &&
          !this.showGameNewResumeType
        ) {
          this.showGameNewResumeType = true;
          this.sudokuData.forEach((element) => {
            if (
              element.type === this.startGameType.gameType &&
              element.level === this.startGameType.gameSubType
            ) {
              var tmp = new Date(null);
              tmp.setSeconds(element.clock.resumeTime);
              this.resumeTime = tmp.toISOString().substr(11, 8);
            }
          });
        } else {
          //console.log("LAST ELESE");
          this.cordova.on("deviceready", () => {
            if (!this.showMusicGround && !this.showStatisticsGround) {
              navigator.app.exitApp();
            }
          });
        }
      }
    });
  },
  methods: {
    gameTypeFunc(type, option) {
      this.startGameType;
      if (type == this.constants.GAME_TYPE.NAME) {
        this.showGameType = false;
        this.showGameSubType = true;
        this.showGameNewResumeType = false;
        this.startGameType.gameType = option;
      } else if (type == this.constants.GAME_SUB_TYPE.NAME) {
        this.showGameType = false;
        this.showGameSubType = false;
        this.showGameNewResumeType = false;
        this.startGameType.gameSubType = option;
        this.sudokuData.forEach((element) => {
          if (
            element.type === this.startGameType.gameType &&
            element.level === this.startGameType.gameSubType
          ) {
            if (element.clock.resumeTime > 0) {
              this.showGameNewResumeType = true;
              var tmp = new Date(null);
              tmp.setSeconds(element.clock.resumeTime);
              this.resumeTime = tmp.toISOString().substr(11, 8);
            } else {
              this.showGameNewResumeType = false;
              this.startGameType.startType = this.constants.GAME_NEW_RESUME_TYPE.NEW_GAME;
              this.$emit("start-game", this.startGameType);
            }
          }
        });
      } else if (type == this.constants.GAME_NEW_RESUME_TYPE.NAME) {
        this.showGameNewResumeType = false;
        this.startGameType.startType = option;
        this.$emit("start-game", this.startGameType);
      }
      this.eventBus.trigger("show-back-btn", true);
    },
  },
};
</script>

<style scoped>
.btns {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
}
.number-fact {
  word-break: break-word;
  line-height: 1.5em;
  padding: 25px;
}
</style>