<template>
  <div class="h-100">
    <navigation
      class="navigation"
      :game-is-on="gameIsOn"
      :common-css-props="commonCssProps"
      :token-and-point-data="tokenAndPointData"
      @show-music-ground="showMusicGroundFunc"
    ></navigation>
    <div
      :class="{ 'dialog-music': gameIsOn, 'music-ground': !gameIsOn }"
      v-show="showMusicGround"
    >
      <div
        v-if="gameIsOn"
        @click="closeMusicDialog"
        class="dialog-music-back"
      ></div>
      <music-ground
        :class="{
          'music-ground-dialog': gameIsOn,
          darkThemeClass: commonCssProps.darkTheme,
          lightThemeClass: !commonCssProps.darkTheme,
        }"
        :game-is-on="gameIsOn"
        :common-css-props="commonCssProps"
        :show-internet-not-connected="showInternetNotConnected"
      ></music-ground>
    </div>
    <game-statistics
      v-if="showStatisticsGround"
      class="statistics"
      :common-css-props="commonCssProps"
      :sudoku-data="sudokuData"
    ></game-statistics>
    <game-control
      v-show="!gameIsOn && !showMusicGround && !showStatisticsGround"
      class="game-control"
      :number-fact="numberFact"
      :sudoku-data="sudokuData"
      :common-css-props="commonCssProps"
      :feed-back-status="feedBackStatus"
      :show-music-ground="showMusicGround"
      :show-statistics-ground="showStatisticsGround"
      :token-and-point-data="tokenAndPointData"
      @start-game="startGameFunc"
    ></game-control>
    <sudoku-ground
      v-if="gameIsOn"
      class="sudoku-ground"
      :sudoku-data="sudokuData"
      :start-game-type="startGameType"
      :common-css-props="commonCssProps"
      :token-and-point-data="tokenAndPointData"
    ></sudoku-ground>
  </div>
</template>

<script>
import MusicGround from "../musicGround/MusicGround.vue";
import Navigation from "../navigation/Navigation.vue";
import GameStatistics from "../statistics/GameStatistics.vue";
import SudokuGround from "../sudokuGround/SudokuGround.vue";
import GameControl from "./GameControl.vue";

export default {
  name: "MainPage",
  components: {
    Navigation,
    GameControl,
    SudokuGround,
    MusicGround,
    GameStatistics,
  },
  props: [
    "number-fact",
    "common-css-props",
    "sudoku-data",
    "token-and-point-data",
    "feed-back-status",
    "show-internet-not-connected",
  ],
  data() {
    return {
      gameIsOn: false,
      startGameType: null,
      showMusicGround: false,
      showStatisticsGround: false,
    };
  },
  beforeMount() {
    this.eventBus.on("back-btn-pressed-second", () => {
      // //console.log("[MainPage.vue] arrr : ", ar);
      this.gameIsOn = false;
      if (this.showMusicGround) {
        this.showMusicGround = false;
        this.eventBus.trigger("show-back-btn", false);
      }
      if (this.showStatisticsGround) {
        this.showStatisticsGround = false;
        this.eventBus.trigger("show-back-btn", false);
      }
    });
    this.eventBus.on("show-statistics", () => {
      //console.log("[MainPage.vue] show-statistics");
      this.showStatisticsGround = true;
      this.eventBus.trigger("show-back-btn", true);
    });
  },
  methods: {
    startGameFunc(t) {
      // //console.log("startGameFunc : ", t);
      this.gameIsOn = true;
      this.startGameType = t;
    },
    showMusicGroundFunc() {
      //console.log("[MainPage.vue] musicGroundFunc gameIsOn:", this.gameIsOn);
      this.showMusicGround = true;
      if (this.gameIsOn) {
        this.eventBus.trigger("pause-clock-or-timer", true);
      }
    },
    closeMusicDialog() {
      //console.log("closeMusicDialog");
      this.showMusicGround = false;
      this.eventBus.trigger("resume-clock-or-timer", true);
    },
  },
};
</script>

<style scoped>
.navigation {
  height: var(--nav-height);
}
.music-ground,
.game-control,
.sudoku-ground,
.statistics {
  height: var(--game-control-height);
}
.dialog-music-back {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 100%;
  height: 100%;
}
.dialog-music {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(103, 103, 103, 0.7);
  z-index: 10;
}
.music-ground-dialog {
  width: 80%;
  height: 70%;
  z-index: 100;
}
</style>
