<template>
  <div>
    <div class="main_setting row">
      <div class="col-4">
        <div class="item-center" v-if="!showBackBtn">
          <div id="tokens-key">
            <img
              v-if="commonCssProps.darkTheme"
              src="../../assets/icons/key_white_24.png"
            />
            <img v-else src="../../assets/icons/key_black_24.png" />
          </div>
          <div>
            {{ tokenAndPointData ? tokenAndPointData.tokens : 0 }} Tokens
          </div>
        </div>
        <div class="item-center col-6" v-else @click="backBtnFunc">
          <img v-if="commonCssProps.darkTheme" :src="svgs.arrowWhite" />
          <img v-else :src="svgs.arrowBlack" />
        </div>
      </div>
      <div class="col-4">
        <div v-if="!showBackBtn" class="item-center">
          <div>
            <img
              v-if="commonCssProps.darkTheme"
              src="../../assets/icons/points_white_24.png"
            />
            <img v-else src="../../assets/icons/points_black_24.png" />
          </div>
          <div>
            {{ tokenAndPointData ? tokenAndPointData.points : 0 }} Points
          </div>
        </div>
      </div>
      <div class="col-4">
        <div v-if="!showBackBtn || gameIsOn" class="item-center col-6 ml-auto">
          <div @click="musicGroundFunc">
            <img
              v-if="commonCssProps.darkTheme"
              src="../../assets/icons/icons8_musical_notes_white_24.png"
            />
            <img
              v-else
              src="../../assets/icons/icons8_musical_notes_black_24.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import arrowBlack from "../../assets/icons/arrow_back_black_24dp.svg";
import arrowWhite from "../../assets/icons/arrow_back_white_24dp.svg";

export default {
  name: "Navigation",
  props: ["common-css-props", "token-and-point-data", "game-is-on"],
  emits: ["show-music-ground"],
  data() {
    return {
      pointVal: 0,
      showBackBtn: false,
      svgs: {
        arrowWhite,
        arrowBlack,
      },
    };
  },
  mounted() {
    this.eventBus.on("show-back-btn", (ar) => {
      this.showBackBtn = ar;
    });
    this.cordova.on("deviceready", () => {
      document.removeEventListener("backbutton", () => {
        //console.log("removeEventListener : ", event);
      });
      document.addEventListener(
        "backbutton",
        (event) => {
          event.preventDefault();
          this.backBtnFunc();
        },
        false
      );
    });
  },
  methods: {
    musicGroundFunc() {
      // //console.log("[Navigation.vue] musicGroundFunc gameIsOn:", this.gameIsOn);
      this.eventBus.trigger("show-back-btn", true);
      this.$emit("show-music-ground", true);
    },
    backBtnFunc() {
      this.eventBus.trigger("back-btn-pressed", true);
      this.eventBus.trigger("back-btn-pressed-second", true);
    },
  },
};
</script>

<style scoped>
.main_setting {
  /* height: 100%; */
  padding-top: 7px;
}
</style>
