<template>
  <div>
    <div class="stats-menu row">
      <div class="col-6 item-center">
        <div
          @click="selectGameTypeFunc(constants.GAME_TYPE.CLASSIC)"
          class="w-60 m-auto btnsss"
          :style="[
            selectedGameType === constants.GAME_TYPE.CLASSIC
              ? activeBackground
              : '',
            shadow,
          ]"
        >
          {{ upperFirstChar(constants.GAME_TYPE.CLASSIC) }}
        </div>
      </div>
      <div class="col-6 item-center">
        <div
          @click="selectGameTypeFunc(constants.GAME_TYPE.LIGHTENING)"
          class="w-60 m-auto btnsss"
          :style="[
            selectedGameType === constants.GAME_TYPE.LIGHTENING
              ? activeBackground
              : '',
            shadow,
          ]"
        >
          {{ upperFirstChar(constants.GAME_TYPE.LIGHTENING) }}
        </div>
      </div>
    </div>
    <div class="stats-sub-menu row">
      <div class="col-3 item-center">
        <div
          @click="selectGameSubTypeFunc(constants.GAME_SUB_TYPE.EASY)"
          class="w-60 m-auto btnsss"
          :style="[
            selectedGameSubType === constants.GAME_SUB_TYPE.EASY
              ? activeBackground
              : '',
            shadow,
          ]"
        >
          {{ upperFirstChar(constants.GAME_SUB_TYPE.EASY) }}
        </div>
      </div>
      <div class="col-3 item-center">
        <div
          @click="selectGameSubTypeFunc(constants.GAME_SUB_TYPE.MEDIUM)"
          class="w-60 m-auto btnsss"
          :style="[
            selectedGameSubType === constants.GAME_SUB_TYPE.MEDIUM
              ? activeBackground
              : '',
            shadow,
          ]"
        >
          {{ upperFirstChar(constants.GAME_SUB_TYPE.MEDIUM) }}
        </div>
      </div>
      <div class="col-3 item-center">
        <div
          @click="selectGameSubTypeFunc(constants.GAME_SUB_TYPE.HARD)"
          class="w-60 m-auto btnsss"
          :style="[
            selectedGameSubType === constants.GAME_SUB_TYPE.HARD
              ? activeBackground
              : '',
            shadow,
          ]"
        >
          {{ upperFirstChar(constants.GAME_SUB_TYPE.HARD) }}
        </div>
      </div>
      <div class="col-3 item-center">
        <div
          @click="selectGameSubTypeFunc(constants.GAME_SUB_TYPE.EXPERT)"
          class="w-60 m-auto btnsss"
          :style="[
            selectedGameSubType === constants.GAME_SUB_TYPE.EXPERT
              ? activeBackground
              : '',
            shadow,
          ]"
        >
          {{ upperFirstChar(constants.GAME_SUB_TYPE.EXPERT) }}
        </div>
      </div>
    </div>
    <stats-ground
      class="stats-ground"
      :data-to-show="dataToShow"
      :type="selectedGameType"
      :common-css-props="commonCssProps"
    ></stats-ground>
  </div>
</template>

<script>
import StatsGround from "./StatsGround.vue";
export default {
  components: { StatsGround },
  name: "GameStatistics",
  props: ["common-css-props", "sudoku-data"],
  data() {
    return {
      selectedGameType: this.constants.GAME_TYPE.CLASSIC,
      selectedGameSubType: this.constants.GAME_SUB_TYPE.EASY,
      dataToShow: null,
    };
  },
  beforeMount() {
    //console.log("[GameStatistics.vue] BeforeMount");
    this.getData();
  },
  computed: {
    shadow() {
      if (this.commonCssProps.darkTheme) {
        return {
          boxShadow: "0px 0px 10px #b5b5b5",
        };
      } else {
        return {
          boxShadow: "0px 0px 10px #462727",
        };
      }
    },
    activeBackground() {
      if (this.commonCssProps.darkTheme) {
        return {
          backgroundColor: "blueviolet",
        };
      } else {
        return {
          backgroundColor: "coral",
        };
      }
    },
  },
  methods: {
    upperFirstChar(str) {
      return str[0].toUpperCase() + str.substring(1);
    },
    selectGameTypeFunc(t) {
      this.selectedGameType = t;
      this.getData();
    },
    selectGameSubTypeFunc(t) {
      this.selectedGameSubType = t;
      this.getData();
    },
    getData() {
      this.sudokuData.forEach((element) => {
        if (
          element.type == this.selectedGameType &&
          element.level == this.selectedGameSubType
        ) {
          this.dataToShow = element.statistics;
        }
      });
    },
  },
};
</script>

<style scoped>
.stats-menu {
  height: 7%;
}
.stats-sub-menu {
  height: 7%;
}
.stats-ground {
  height: 86%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.w-60 {
  width: 60%;
}
.btnsss {
  border-radius: 10px;
  padding: 6px;
}
</style>