<template>
  <div>
    <div
      class="row"
      :style="shadow"
      v-for="[key, value] of Object.entries(dataToShow)"
      :key="key"
    >
      <div class="col-8">{{ getKeyData(key) }}</div>
      <div class="col-3 item-end">
        {{ getValue(key, value) }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "StatsGround",
  props: ["data-to-show", "type", "common-css-props"],
  methods: {
    getValue(key, val) {
      if (key.includes("time")) {
        return this.seconds_to_hours_mins_secs_str(val);
      }
      if (key.includes("win_rate")) {
        return val > 0 ? val.toFixed(2) + "%" : 0;
      }
      return val;
    },
    getKeyData(t) {
      t = t[0].toUpperCase() + t.substring(1);
      return t.split("_").join(" ");
    },
    seconds_to_hours_mins_secs_str(seconds) {
      seconds = Math.floor(seconds);
      var hours = Math.floor(seconds / (60 * 60));
      seconds -= hours * (60 * 60);
      var minutes = Math.floor(seconds / 60);
      seconds -= minutes * 60;
      var ret = "";
      if (hours > 0) {
        ret += (hours < 10 ? "0" + hours : hours) + ":";
      }
      ret += (minutes < 10 ? "0" + minutes : minutes) + ":";

      ret += seconds < 10 ? "0" + seconds : seconds;
      return ret;
    },
  },
  computed: {
    shadow() {
      if (this.commonCssProps.darkTheme) {
        return {
          boxShadow: "0px 0px 10px #ffb100",
        };
      } else {
        return {
          boxShadow: "0px 0px 10px #33067b",
        };
      }
    },
  },
};
</script>

<style scoped>
.item-end {
  text-align: end;
}
.row {
  margin: 10px;
  padding: 10px;
}
</style>