<template>
  <div class="h-100">
    <div
      @click="fillFunc"
      :style="commonCssProps.helpObjBoxShadow"
      class="h-100 align-v-h-center"
    >
      <img
        v-if="commonCssProps.darkTheme"
        src="../../../assets/icons/specific_number_white_24.png"
      />
      <img v-else src="../../../assets/icons/specific_number_black_24.png" />
    </div>
  </div>
</template>

<script>
export default {
  name: "ShowSpecificNum",
  props: ["common-css-props"],
  methods: {
    fillFunc() {
      this.eventBus.trigger(
        "powerup-check-tokens",
        this.constants.SHOW_SPECIFIC_NUM
      );
    },
  },
};
</script>

<style scoped></style>
