<template>
  <div class="dialog-div align-v-h-center">
    <div
      class="dialog-box item-center align-v-h-center"
      :class="{
        darkThemeClass: commonCssProps.darkTheme,
        lightThemeClass: !commonCssProps.darkTheme,
      }"
    >
      <div v-if="!mistakeHappens" class="w-100">
        <div class="dialog-msg p-5 align-v-h-center">
          <img
            style="transform: rotateY(180deg)"
            src="../../assets/icons/icons8_confetti_48.png"
          />
          <strong class="px-5">Hurray!</strong>
          <img src="../../assets/icons/icons8_confetti_48.png" />
        </div>
        <div class="p-5">
          Level : {{ startGameType.gameSubType.toUpperCase() }}
        </div>
        <div class="p-5">
          <div>
            {{ currGameScore }}
          </div>
          <div>
            {{ bestGameScore }}
          </div>
        </div>
        <div class="row mist-btns">
          <div
            @click="goToHomeFunc"
            class="btns col-5 align-v-h-center"
            :style="commonCssProps.borderColor"
          >
            Home
          </div>
          <div
            @click="newGameFunc"
            class="btns col-5 align-v-h-center"
            :style="commonCssProps.borderColor"
          >
            New Game
          </div>
        </div>
      </div>
      <div v-else class="w-100">
        <div class="dialog-msg p-5"><strong>Game Over</strong></div>
        <div class="p-5">
          Level : {{ startGameType.gameSubType.toUpperCase() }}
        </div>
        <div><b>Mistake Count Exceeded!</b></div>
        <div class="row mist-btns item-center">
          <div
            @click="gotSecondChanceFunc"
            class="btns col-5 align-v-h-center"
            :style="commonCssProps.borderColor"
          >
            <svg
              v-if="showLoader"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="background: transaparent; shape-rendering: auto"
              width="100%"
              height="100%"
              viewBox="0 0 100 100"
              preserveAspectRatio="xMidYMid"
            >
              <circle
                cx="50"
                cy="50"
                r="0"
                fill="none"
                stroke="#e90c59"
                stroke-width="2"
              >
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                  begin="-0.5s"
                ></animate>
              </circle>
              <circle
                cx="50"
                cy="50"
                r="0"
                fill="none"
                stroke="#46dff0"
                stroke-width="2"
              >
                <animate
                  attributeName="r"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0;40"
                  keyTimes="0;1"
                  keySplines="0 0.2 0.8 1"
                  calcMode="spline"
                ></animate>
                <animate
                  attributeName="opacity"
                  repeatCount="indefinite"
                  dur="1s"
                  values="1;0"
                  keyTimes="0;1"
                  keySplines="0.2 0 0.8 1"
                  calcMode="spline"
                ></animate>
              </circle>
              <!-- [ldio] generated by https://loading.io/ -->
            </svg>
            <div v-else>Second Chance</div>
          </div>
          <div
            @click="newGameFunc"
            class="btns col-5 align-v-h-center"
            :style="commonCssProps.borderColor"
          >
            New Game
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GameComplete",
  props: ["sudoku-data", "start-game-type", "common-css-props"],
  emits: ["start-new-game", "give-second-chance"],
  data() {
    return {
      bestGameScore: "",
      currGameScore: "",
      mistakeHappens: false,
      showLoader: false,
      gameCompleted: false,
    };
  },
  beforeMount() {
    this.sudokuData.forEach((element) => {
      if (
        element.type === this.startGameType.gameType &&
        element.level === this.startGameType.gameSubType
      ) {
        this.bestGameScore = element.highScore;

        if (element.mistake.count >= element.mistake.maxCount) {
          this.mistakeHappens = true;
          return;
        } else {
          element.gameCompleted = true;
          this.gameCompleted = true;
        }

        if (this.startGameType.gameType == this.constants.GAME_TYPE.CLASSIC) {
          this.currGameScore = element.clock.resumeTime;
          if (
            this.bestGameScore == 0 ||
            this.currGameScore < this.bestGameScore
          ) {
            this.bestGameScore = this.currGameScore;
            element.highScore = this.bestGameScore;
          }
          element.statistics.best_time = element.highScore;
          let tim = element.statistics.average_time;
          let cnt = element.statistics.game_completed;
          //console.log("tim : ", tim, " cnt:", cnt);
          tim = tim * cnt + this.currGameScore;
          element.statistics.average_time = tim / (cnt + 1);

          this.currGameScore =
            "Time : " + this.seconds_to_hours_mins_secs_str(this.currGameScore);

          this.bestGameScore =
            "Best Time : " +
            this.seconds_to_hours_mins_secs_str(this.bestGameScore);
        } else {
          this.currGameScore = element.lightening.currScore;
          if (
            this.bestGameScore == 0 ||
            this.currGameScore > this.bestGameScore
          ) {
            this.bestGameScore = this.currGameScore;
            element.highScore = this.bestGameScore;
          }
          element.statistics.best_score = element.highScore;
          let tim = element.statistics.average_score;
          let cnt = element.statistics.game_completed;
          tim = tim * cnt + this.currGameScore;
          element.statistics.average_score = tim / (cnt + 1);

          this.currGameScore = "Score : " + this.currGameScore;
          this.bestGameScore = "Best Score : " + this.bestGameScore;
        }

        element.statistics.game_completed++;
        if (element.mistake.count == 0) {
          element.statistics.game_with_no_mistake++;
        }
        if (element.hint.hintUsed == 0) {
          element.statistics.game_with_no_hint_used++;
        }
        if (!element.pencilUsed) {
          element.statistics.game_with_no_pencil_used++;
        }
        if (
          element.helpObjUsed.pencilAll == 0 &&
          element.helpObjUsed.stopTimer == 0 &&
          element.helpObjUsed.showSpecificNum == 0
        ) {
          element.statistics.game_with_no_tokens_used++;
        }
        element.statistics.win_rate =
          (element.statistics.game_completed /
            element.statistics.game_started) *
          100;

        this.eventBus.trigger("save-sudoku-data", {
          type: this.startGameType.gameType,
          level: this.startGameType.gameSubType,
        });
      }
    });
    this.cordova.on("deviceready", () => {
      document.addEventListener(
        "pause",
        (event) => {
          event.preventDefault();
          this.saveResumeTime();
        },
        false
      );

      document.addEventListener("resume", this.appResumeFunc);
    });
    this.eventBus.on("second-chance-reward-given", () => {
      //console.log("[GameComplete.vue] second-chance-reward-given");
      this.$emit("give-second-chance", true);
    });
    this.eventBus.on("stop-showing-loader", () => {
      //console.log("[GAMECOMPLETE.vue] beforeMount stop-showing-loader");
      this.showLoader = false;
    });
  },
  beforeUnmount() {
    document.removeEventListener("resume", this.appResumeFunc);
  },
  methods: {
    appResumeFunc(event) {
      event.preventDefault();
      //console.log("[GameComplete.vue] RESUME");
      //console.log(
      //   "[GameComplete.vue] RESUME this.gameCompleted:",
      //   this.gameCompleted,
      //   " this.mistakeHappens:",
      //   this.mistakeHappens
      // );
      if (this.gameCompleted || this.mistakeHappens) {
        this.eventBus.trigger("pause-clock-or-timer", true);
      }
    },
    saveResumeTime() {
      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          if (element.gameCompleted) {
            element.clock.resumeTime = 0;
          }
        }
      });
      this.eventBus.trigger("save-sudoku-data", {
        type: this.startGameType.gameType,
        level: this.startGameType.gameSubType,
      });
    },
    newGameFunc() {
      //console.log("[GameComplete.vue] newGameFunc");
      this.eventBus.trigger("start-new-game", true);
      this.$emit("start-new-game", true);
      this.eventBus.trigger("resume-clock-or-timer", true);
    },
    goToHomeFunc() {
      //console.log("[GameComplete.vue] goToHomeFunc");
      this.eventBus.trigger("go-to-home", true);
      this.eventBus.trigger("show-back-btn", false);
      this.saveResumeTime();
    },
    gotSecondChanceFunc() {
      //console.log("[GameComplete.vue] gotSecondChanceFunc");
      this.cordova.on("deviceready", () => {
        if (this.cordova.connection.type != "none") {
          this.showLoader = true;
          //console.log("[GameComplete.vue] ShoW AD Here");
          this.eventBus.trigger("request-rewarded-ad", "second-chance");
        } else {
          this.showConnectionErrorToast();
        }
      });
      // this.$emit("give-second-chance", true);
    },
    seconds_to_hours_mins_secs_str(seconds) {
      var hours = Math.floor(seconds / (60 * 60));
      seconds -= hours * (60 * 60);
      var minutes = Math.floor(seconds / 60);
      seconds -= minutes * 60;
      var ret = "";
      if (hours > 0) {
        ret += (hours < 10 ? "0" + hours : hours) + ":";
      }
      ret += (minutes < 10 ? "0" + minutes : minutes) + ":";

      ret += seconds < 10 ? "0" + seconds : seconds;
      return ret;
    },
    showConnectionErrorToast() {
      this.cordova.toast.showWithOptions(
        {
          message: "Connection Unavailable",
          duration: "short",
          position: "bottom",
          addPixelsY: -100,
          styling: {
            backgroundColor: this.commonCssProps.darkTheme
              ? "#fddc72"
              : "#3f57f6", // make sure you use #RRGGBB. Default #333333
            textColor: this.commonCssProps.darkTheme ? "#3f57f6" : "#fddc72", // Ditto. Default #FFFFFF
            textSize: 20.5, // Default is approx. 13.
            cornerRadius: 50, // minimum is 0 (square). iOS default 20, Android default 100
            horizontalPadding: 80, // iOS default 16, Android default 50
            verticalPadding: 50, // iOS default 12, Android default 30
          },
        },
        (success) => {
          console.log("toast.showWithOptions success : ", success);
        },
        (err) => {
          console.log("toast.showWithOptions err : ", err);
        }
      );
    },
  },
};
</script>

<style scoped>
.dialog-div {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, 0.4);
}
.dialog-box {
  border: 3px solid blueviolet;
  border-radius: 20px;
  padding: 10px;
  width: 60%;
}
.px-5 {
  padding: 0 6px;
}
.p-5 {
  padding: 5px;
}
strong {
  font-size: 20px;
}
.btns {
  border-radius: 10px;
}
.mist-btns {
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  margin: 7px 5px;
  /* padding: 10px; */
}
</style>