<template>
  <div class="help_obj h-100">
    <div class="help_obj_inner h-100">
      <div class="row h-100">
        <div class="m-x-10 col-4">
          <pencil-fill-all-blocks :common-css-props="commonCssProps" />
        </div>
        <div class="m-x-10 col-4">
          <show-specific-num :common-css-props="commonCssProps" />
        </div>
        <div class="m-x-10 col-4">
          <stop-timer :common-css-props="commonCssProps" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PencilFillAllBlocks from "./helpObjects/PencilFillAllBlocks.vue";
import ShowSpecificNum from "./helpObjects/ShowSpecificNum.vue";
import StopTimer from "./helpObjects/StopTimer.vue";
export default {
  components: { PencilFillAllBlocks, ShowSpecificNum, StopTimer },
  name: "HelpObj",
  props: ["common-css-props"],
};
</script>

<style scoped>
.help_obj {
  margin: auto;
}
.help_obj_inner {
  width: 50%;
  margin: auto;
  /* padding: 1px; */
}
</style>