<template>
  <div class="h-100">
    <div class="w-100 h-100 number_bar_inner">
      <div
        @click="numFunc(idx + 1)"
        class="numBox"
        v-for="(i, idx) in numBar"
        :key="idx"
      >
        <div
          v-if="numBar[idx] > 0"
          :style="[commonCssProps.boxShadow, commonCssProps.borderColor]"
          class="numBox_inner align-v-h-center"
        >
          {{ idx + 1 }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NumberBar",
  props: ["common-css-props", "num-to-hide"],
  data() {
    return {
      numBar: [1, 1, 1, 1, 1, 1, 1, 1, 1],
    };
  },
  watch: {
    numToHide(n) {
      //console.log("[NumberBar.vue] numToHide WATCHER:", n);
      for (let i = 0; i < 9; i++) {
        this.numBar[i] = 1;
      }
      for (let i = 0; i < n.length; i++) {
        this.numBar[n[i] - 1] = 0;
      }
    },
  },
  mounted() {
    //console.log("[NumberBar.vue] beforeMount");
    for (let i = 0; i < this.numToHide.length; i++) {
      this.numBar[this.numToHide[i] - 1] = 0;
    }
  },
  methods: {
    numFunc(num) {
      // //console.log("numFunc : ", num);
      if (this.numBar[num - 1]) this.eventBus.trigger("num-pressed", num);
    },
  },
};
</script>

<style scoped>
.number_bar_inner {
  display: flex;
  justify-content: space-between;
}
.numBox {
  box-sizing: border-box;
  height: 2.5em;
  margin: auto;
  width: 11%;
  padding: 0px;
}
.numBox_inner {
  margin: auto;
  height: 100%;
  width: 2em;
}
</style>