<template>
  <div class="">
    <div class="num_help_bar">
      <transition name="fade" mode="out-in">
        <div v-if="showNumBar" class="h-100">
          <number-bar
            :num-to-hide="numToHide"
            :common-css-props="commonCssProps"
          />
        </div>
        <div v-else class="h-100">
          <help-obj :common-css-props="commonCssProps" />
        </div>
      </transition>
    </div>
    <div class="help_obj_bulb">
      <div @click="funcs()" v-if="showNumBar">
        <img
          v-if="commonCssProps.darkTheme"
          src="../../assets/icons/icons8_light_white_24.png"
        />
        <img v-else src="../../assets/icons/icons8_light_black_24.png" />
      </div>
      <div @click="funcs()" v-else>
        <img
          v-if="commonCssProps.darkTheme"
          src="../../assets/icons/icons8_light_on_white_24.png"
        />
        <img v-else src="../../assets/icons/icons8_light_on_black_24.png" />
      </div>
    </div>
  </div>
</template>

<script>
import HelpObj from "./HelpObj.vue";
import NumberBar from "./NumberBar.vue";
export default {
  components: { NumberBar, HelpObj },
  name: "NumHelpBar",
  props: ["common-css-props", "num-to-hide"],
  data() {
    return {
      showNumBar: true,
    };
  },
  methods: {
    funcs() {
      this.showNumBar = !this.showNumBar;
      //console.log("showNumBar funcs: ", this.showNumBar);
      if (this.showNumBar) {
        this.eventBus.trigger("check-num-to-disappear", true);
      }
    },
  },
};
</script>

<style scoped>
.num_help_bar {
  height: 60%;
}
.help_obj_bulb {
  height: 40%;
  padding-top: 8px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>