<template>
  <div>
    <div class="row h-100">
      <time-clock
        v-if="classic"
        :sudoku-data="sudokuData"
        :start-game-type="startGameType"
        :common-css-props="commonCssProps"
        :token-and-point-data="tokenAndPointData"
        :pause-timer-clock="pauseTimerClock"
      />
      <lightening-timer
        v-else
        :sudoku-data="sudokuData"
        :start-game-type="startGameType"
        :common-css-props="commonCssProps"
        :token-and-point-data="tokenAndPointData"
        :pause-timer-clock="pauseTimerClock"
      />
      <mistake-count
        :sudoku-data="sudokuData"
        :start-game-type="startGameType"
        :common-css-props="commonCssProps"
      />
      <div class="align-v-h-center w-20">
        <div @click="eraseCellData">
          <img
            v-if="commonCssProps.darkTheme"
            src="../../assets/icons/icons8-erase-light-24.png"
          />
          <img v-else src="../../assets/icons/icons8-erase-dark-24.png" />
          <div>Erase</div>
        </div>
      </div>
      <show-hint
        :sudoku-data="sudokuData"
        :start-game-type="startGameType"
        :common-css-props="commonCssProps"
      />
      <pen-pencil
        :common-css-props="commonCssProps"
        :token-and-point-data="tokenAndPointData"
      />
    </div>
  </div>
</template>

<script>
import LighteningTimer from "./sudokuOption/LighteningTimer.vue";
import MistakeCount from "./sudokuOption/MistakeCount.vue";
import PenPencil from "./sudokuOption/PenPencil.vue";
import ShowHint from "./sudokuOption/ShowHint.vue";
import TimeClock from "./sudokuOption/TimeClock.vue";
export default {
  components: { TimeClock, MistakeCount, ShowHint, PenPencil, LighteningTimer },
  name: "SudokuOptions",
  props: [
    "common-css-props",
    "start-game-type",
    "sudoku-data",
    "token-and-point-data",
    "pause-timer-clock",
  ],
  data() {
    return {
      classic: this.startGameType.gameType === this.constants.GAME_TYPE.CLASSIC,
    };
  },
  methods: {
    eraseCellData() {
      this.eventBus.trigger("erase-cell-data", true);
    },
  },
  // beforeMount() {
  //   this.classic =
  //     this.startGameType.gameType === this.constants.GAME_TYPE.CLASSIC;
  // },
};
</script>

<style scoped>
</style>