<template>
  <div class="p-4">
    <div class="h-100 align-evenly-vertical">
      <div
        v-for="(arr, idx) in currMatrix"
        :key="'currMatrix' + idx"
        class="borderTop w-100 h-100 align-v-h-center"
        :class="[
          'sudoku_row_' + idx,
          { rowColHighlightDark: selectedI == idx && commonCssProps.darkTheme },
          {
            rowColHighlightLight: selectedI == idx && !commonCssProps.darkTheme,
          },
          { borderBottom: idx == 8 },
        ]"
      >
        <div
          v-for="(item, jdx) in arr"
          :key="'currRow' + jdx"
          class="borderLeft w-100 h-100 align-v-h-center"
          :class="[
            'sudoku_block_' + jdx,
            { borderRight: jdx == 8 },
            {
              rowColHighlightDark:
                commonCssProps.darkTheme &&
                (selectedJ == jdx ||
                  (selected3x3StartJ <= jdx &&
                    selected3x3EndJ > jdx &&
                    selected3x3StartI <= idx &&
                    selected3x3EndI > idx)),
            },
            {
              rowColHighlightLight:
                !commonCssProps.darkTheme &&
                (selectedJ == jdx ||
                  (selected3x3StartJ <= jdx &&
                    selected3x3EndJ > jdx &&
                    selected3x3StartI <= idx &&
                    selected3x3EndI > idx)),
            },
          ]"
        >
          <div
            class="w-100 h-100 align-v-h-center"
            @click="numFocusedFunc(item, idx, jdx)"
            :class="{
              allNumFocusedLightClass:
                item == numFocused && !commonCssProps.darkTheme,
              allNumFocusedDarkClass:
                item == numFocused && commonCssProps.darkTheme,
              numFocusedLightClass:
                (item == numFocused || numFocused == -10) &&
                selectedI == idx &&
                selectedJ == jdx &&
                !commonCssProps.darkTheme,
              numFocusedDarkClass:
                (item == numFocused || numFocused == -10) &&
                selectedI == idx &&
                selectedJ == jdx &&
                commonCssProps.darkTheme,
              darkTextColor:
                !commonCssProps.darkTheme && initialMatrix[idx][jdx] != 0,
              whiteTextColor:
                commonCssProps.darkTheme && initialMatrix[idx][jdx] != 0,
              editableDarkTextColor:
                !commonCssProps.darkTheme && initialMatrix[idx][jdx] == 0,
              editableWhiteTextColor:
                commonCssProps.darkTheme && initialMatrix[idx][jdx] == 0,
            }"
          >
            <transition name="fade" mode="out-in">
              <div
                v-if="item != 0"
                :class="{ errorPresent: errorMatrix[idx][jdx] }"
              >
                {{ item }}
              </div>
              <div
                v-else
                class="pencil-block h-100 w-100 align-evenly-vertical"
              >
                <div
                  v-for="i in 3"
                  :key="i"
                  class="w-100 h-100 align-v-h-center"
                >
                  <div
                    v-for="j in 3"
                    :key="j"
                    class="w-100 h-100 pencil-cell align-v-h-center"
                  >
                    {{
                      pencilData[idx][jdx][(i - 1) * 3 + j - 1] != 0
                        ? pencilData[idx][jdx][(i - 1) * 3 + j - 1]
                        : ""
                    }}
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SudokuBlock",
  props: [
    "sudoku-data",
    "start-game-type",
    "common-css-props",
    "token-and-point-data",
  ],
  emits: ["game-completed", "disappear-num"],
  data() {
    return {
      blocksToShow: 0,
      ansMatrix: null,
      currMatrix: null,
      initialMatrix: null,
      errorMatrix: null,
      pencilData: null,
      numFocused: -1,
      selectedI: -1,
      selectedJ: -1,
      penSelected: true,
      stack: 0,
      emptyBlockCheckInAnsMatrix: 47,
      pencilAllTokenUsed: false,
    };
  },
  beforeMount() {
    this.cordova.on("deviceready", () => {
      document.addEventListener(
        "pause",
        (event) => {
          event.preventDefault();
          this.saveToDb();
        },
        false
      );
    });

    // //console.log("[SudokuBlock.vue] this.startGameType : ", this.startGameType);
    if (this.startGameType.gameSubType == this.constants.GAME_SUB_TYPE.EASY)
      this.blocksToShow = 77;
    else if (
      this.startGameType.gameSubType == this.constants.GAME_SUB_TYPE.MEDIUM
    )
      this.blocksToShow = 35;
    else if (
      this.startGameType.gameSubType == this.constants.GAME_SUB_TYPE.HARD
    )
      this.blocksToShow = 30;
    else this.blocksToShow = 20;

    this.initializeErrorMatrix();

    if (
      this.startGameType.startType ==
      this.constants.GAME_NEW_RESUME_TYPE.NEW_GAME
    ) {
      this.startingNewGame();
    } else {
      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          this.ansMatrix = element.ansMatrix;
          this.currMatrix = element.currMatrix;
          this.initialMatrix = element.initialMatrix;
          this.pencilData = element.pencilData;
          this.pencilAllTokenUsed = element.helpObjUsed.pencilAll > 0;
          this.setErrorInErrorMatrix();
          this.$emit("game-completed", this.checkIfGameCompleted());
        }
      });
    }
    this.saveToDb();

    this.eventBus.on("num-pressed", this.enterNumInBlock);

    this.eventBus.on("is-pen-active", (t) => {
      this.penSelected = t;
      //console.log("PEN SELECTED : ", this.penSelected);
    });

    this.eventBus.on("pencil-fill", () => {
      //console.log("[SudokuBlock.vue] pencil-fill : ", t);
      this.tokenAndPointData.tokens -= 15;
      this.pencilFillAll();
    });

    this.eventBus.on("show-specific-num", () => {
      //console.log("[SudokuBlock.vue] show-specific-num : ", t);
      this.tokenAndPointData.tokens -= 15;
      this.showSpecificNum();
    });

    this.eventBus.on("start-new-game", () => {
      //console.log("[SudokuBlock.vue] start-new-game : ", t);
      this.startingNewGame();
      this.saveToDb();
    });

    this.eventBus.on("show-hint", () => {
      //console.log("[SudokuBlock.vue] show-hint : ", t);
      this.showHint();
      this.saveToDb();
    });

    this.eventBus.on("erase-cell-data", () => {
      //console.log("[SudokuBlock.vue] erase-cell-data : ", t);
      this.eraseCellData();

      this.saveToDb();
    });
    this.eventBus.on("check-num-to-disappear", () => {
      //console.log("[SudokuBlock.vue] check-num-to-disappear : ", t);
      this.checkToDisappearNum();
    });
    this.checkToDisappearNum();
  },
  beforeUnmount() {
    this.saveToDb();
  },
  computed: {
    selected3x3StartI() {
      if (this.selectedI == -1) return -1;
      return this.selectedI - (this.selectedI % 3);
    },
    selected3x3StartJ() {
      if (this.selectedJ == -1) return -1;
      return this.selectedJ - (this.selectedJ % 3);
    },
    selected3x3EndI() {
      if (this.selectedI == -1) return -1;
      return this.selected3x3StartI + 3;
    },
    selected3x3EndJ() {
      if (this.selectedJ == -1) return -1;
      return this.selected3x3StartJ + 3;
    },
  },
  methods: {
    eraseCellData() {
      if (this.selectedI != -1 && this.selectedJ != -1) {
        if (this.initialMatrix[this.selectedI][this.selectedJ] == 0) {
          if (this.currMatrix[this.selectedI][this.selectedJ] != 0) {
            this.currMatrix[this.selectedI][this.selectedJ] = 0;
            this.numFocused = -10;
          } else {
            for (let i = 0; i < 9; i++) {
              this.pencilData[this.selectedI][this.selectedJ][i] = 0;
            }
          }
          this.errorMatrix[this.selectedI][this.selectedJ] = 0;
          this.checkToDisappearNum();
        // } else {
          //console.log("[SudokuBlock.vue] Select A VALID CELL");
        }
      }
    },
    showHint() {
      if (this.selectedI != -1 && this.selectedJ != -1) {
        if (this.initialMatrix[this.selectedI][this.selectedJ] == 0) {
          let t = this.ansMatrix[this.selectedI][this.selectedJ];
          this.currMatrix[this.selectedI][this.selectedJ] = t;
          this.errorMatrix[this.selectedI][this.selectedJ] = 0;
          this.numFocused = t;
          this.checkToDisappearNum();
          this.eventBus.trigger("resume-clock-or-timer", true);
          this.eventBus.trigger("correct-num-entered", true);
        // } else {
          //console.log("[SudokuBlock.vue] Select A VALID CELL");
        }
      }
    },
    startingNewGame() {
      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          this.sudoku.getNewSudoku((res) => {
            let mat = [];
            for (var i = 0; i < 9; i++) {
              var tmp = [];
              for (var j = 0; j < 9; j++) {
                tmp.push(res[i * 9 + j]);
              }
              mat.push(tmp);
            }
            element.ansMatrix = mat;
            element.currMatrix = this.getCurrMatrix(mat);
            element.initialMatrix = this.getInitialMatrix(element.currMatrix);
            element.pencilData = this.getPencilMatrix();
            element.clock.clockAngle = 0;
            element.clock.resumeTime = 0;
            if (
              this.startGameType.gameType == this.constants.GAME_TYPE.LIGHTENING
            ) {
              element.clock.resumeTime = 1;
            }
            element.helpObjUsed.pencilAll = 0;
            element.helpObjUsed.showSpecificNum = 0;
            element.helpObjUsed.stopTimer = 0;
            element.hint.hintUsed = 0;
            element.hint.maxHint = 2;
            element.lightening.currScore = Infinity;
            element.lightening.timerState = 100;
            element.mistake.count = 0;
            element.mistake.maxCount = 3;
            element.secondChance = 0;
            element.gameCompleted = false;
            element.pencilUsed = false;
            element.statistics.game_started++;
            element.statistics.win_rate =
              (element.statistics.game_completed /
                element.statistics.game_started) *
              100;

            this.ansMatrix = element.ansMatrix;
            this.currMatrix = element.currMatrix;
            this.initialMatrix = element.initialMatrix;
            this.pencilData = element.pencilData;
          });
        }
      });
      this.initializeErrorMatrix();
      this.checkToDisappearNum();
      this.eventBus.trigger("set-initial-state-timer-or-clock", true);
      this.numFocused = -1;
      this.selectedI = -1;
      this.selectedJ = -1;
      this.penSelected = true;
      this.pencilAllTokenUsed = false;
    },
    showSpecificNum() {
      var allNumCnt = [0, 0, 0, 0, 0, 0, 0, 0, 0];
      for (var i = 0; i < 9; i++) {
        for (var j = 0; j < 9; j++) {
          if (this.currMatrix[i][j] != 0) {
            allNumCnt[this.currMatrix[i][j] - 1]++;
          }
        }
      }
      var numToShow = [];
      for (i = 0; i < 9; i++) {
        if (allNumCnt[i] < 9) {
          numToShow.push(i + 1);
        }
      }

      //console.log("[SudokuBlock.vue] numToShow : ", numToShow);
      var randomNum = numToShow[Math.floor(Math.random() * numToShow.length)];
      //console.log("[SudokuBlock.vue] randomNum : ", randomNum);
      if (randomNum) {
        for (i = 0; i < 9; i++) {
          for (j = 0; j < 9; j++) {
            if (this.ansMatrix[i][j] == randomNum) {
              if (this.currMatrix[i][j] === 0 || this.errorMatrix[i][j] === 1) {
                for (var k = 0; k < 9; k++) {
                  this.pencilData[i][j][k] = 0;
                }
                this.errorMatrix[i][j] = 0;
                this.currMatrix[i][j] = randomNum;
              }
            }
          }
        }
        this.eventBus.trigger("correct-num-entered", true);
      }

      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          element.helpObjUsed.showSpecificNum++;
          return;
        }
      });
      this.checkToDisappearNum();
      this.$emit("game-completed", this.checkIfGameCompleted());
      this.saveToDb();
    },
    get3x3BlockNums(row, col) {
      var rowStart = row - (row % 3);
      var colStart = col - (col % 3);
      var ret = [];
      for (var i = rowStart; i < rowStart + 3; i++) {
        for (var j = colStart; j < colStart + 3; j++) {
          if (this.currMatrix[i][j] != 0 && this.errorMatrix[i][j] === 0) {
            ret.push(this.currMatrix[i][j]);
          }
        }
      }
      return ret;
    },
    getRowNums(row) {
      var ret = [];
      for (var i = 0; i < 9; i++) {
        if (this.currMatrix[row][i] != 0 && this.errorMatrix[row][i] === 0) {
          ret.push(this.currMatrix[row][i]);
        }
      }
      return ret;
    },
    getColNums(col) {
      var ret = [];
      for (var i = 0; i < 9; i++) {
        if (this.currMatrix[i][col] != 0 && this.errorMatrix[i][col] === 0) {
          ret.push(this.currMatrix[i][col]);
        }
      }
      return ret;
    },
    pencilFillAll() {
      for (var i = 0; i < 9; i++) {
        for (var j = 0; j < 9; j++) {
          if (this.currMatrix[i][j] == 0) {
            this.errorMatrix[i][j] = 0;
            var blk3x3Arr = this.get3x3BlockNums(i, j);
            var rowArr = this.getRowNums(i);
            var colArr = this.getColNums(j);
            var arrr = blk3x3Arr.concat(rowArr).concat(colArr);
            var toShowArr = [0, 0, 0, 0, 0, 0, 0, 0, 0];
            for (var k = 0; k < arrr.length; k++) {
              toShowArr[arrr[k] - 1]++;
            }
            for (k = 0; k < 9; k++) {
              if (toShowArr[k] == 0) {
                this.pencilData[i][j][k] = k + 1;
              } else {
                this.pencilData[i][j][k] = 0;
              }
            }
          }
        }
      }

      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          element.helpObjUsed.pencilAll++;
          element.pencilUsed = true;
          return;
        }
      });

      this.pencilAllTokenUsed = true;

      this.$emit("game-completed", this.checkIfGameCompleted());
      this.saveToDb();
    },
    setErrorInSudokuData() {
      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          element.mistake.count++;
        }
      });
      this.eventBus.trigger("mistake-happens", true);
    },
    enterPenNumInBlock(t) {
      let numOfEmptyBlocks = 0;
      for (let i = 0; i < 9; i++) {
        for (let j = 0; j < 9; j++) {
          if (this.currMatrix[i][j] === 0) {
            numOfEmptyBlocks++;
          }
        }
      }
      if (numOfEmptyBlocks < this.emptyBlockCheckInAnsMatrix) {
        if (this.ansMatrix[this.selectedI][this.selectedJ] === t) {
          this.currMatrix[this.selectedI][this.selectedJ] = t;
          this.numFocused = t;
          this.errorMatrix[this.selectedI][this.selectedJ] = 0;
          this.eventBus.trigger("correct-num-entered", true);
        } else {
          const checkForSafe = this.isSafe(
            this.currMatrix,
            this.selectedI,
            this.selectedJ,
            t
          );
          this.currMatrix[this.selectedI][this.selectedJ] = t;
          this.numFocused = t;
          this.errorMatrix[this.selectedI][this.selectedJ] = 0;
          if (checkForSafe) {
            // //console.log("[SudokuBlock.vue] ISSAFE IF");
            if (!this.checkIfSolutionPresent()) {
              this.errorMatrix[this.selectedI][this.selectedJ] = 1;
              this.setErrorInSudokuData();
            } else {
              this.eventBus.trigger("correct-num-entered", true);
            }
            //console.log("[SudokuBlock.vue] STACK : ", this.stack);
          } else {
            // //console.log("[SudokuBlock.vue] ISSAFE ELSE");
            this.errorMatrix[this.selectedI][this.selectedJ] = 1;
            this.setErrorInSudokuData();
          }
        }
      } else {
        this.errorMatrix[this.selectedI][this.selectedJ] = 0;
        if (this.ansMatrix[this.selectedI][this.selectedJ] === t) {
          this.errorMatrix[this.selectedI][this.selectedJ] = 0;
          this.eventBus.trigger("correct-num-entered", true);
        } else {
          this.errorMatrix[this.selectedI][this.selectedJ] = 1;
          this.setErrorInSudokuData();
        }
        this.currMatrix[this.selectedI][this.selectedJ] = t;
        this.numFocused = t;
      }
      if (this.pencilAllTokenUsed) {
        this.removePencilFromRowColBlock(t);
      }
      this.checkToDisappearNum();
      this.$emit("game-completed", this.checkIfGameCompleted());
    },
    enterNumInBlock(t) {
      // //console.log("[SudokuBlock.vue] eventBus num-pressed : ", t);
      if (this.selectedI != -1 && this.selectedJ != -1) {
        if (this.initialMatrix[this.selectedI][this.selectedJ] === 0) {
          if (this.penSelected) {
            if (this.currMatrix[this.selectedI][this.selectedJ] === t) {
              this.currMatrix[this.selectedI][this.selectedJ] = 0;
              this.numFocused = -10;
            } else {
              this.enterPenNumInBlock(t);
            }
            for (let i = 0; i < 9; i++) {
              this.pencilData[this.selectedI][this.selectedJ][i] = 0;
            }
          } else {
            this.currMatrix[this.selectedI][this.selectedJ] = 0;
            if (this.pencilData[this.selectedI][this.selectedJ][t - 1] === t) {
              this.pencilData[this.selectedI][this.selectedJ][t - 1] = 0;
            } else {
              this.pencilData[this.selectedI][this.selectedJ][t - 1] = t;
              this.setPencilUsed();
            }
            this.numFocused = -10;
          }
          this.saveToDb();
        // } else {
          //console.log("[SudokuBlock.vue] Not EDITABLE");
        }
      }
    },
    setPencilUsed() {
      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          element.pencilUsed = true;
          return;
        }
      });
    },
    numFocusedFunc(num, idx, jdx) {
      // //console.log("SUDOKUBLOCK num : ", num);
      // //console.log("SUDOKUBLOCK idx : ", idx);
      // //console.log("SUDOKUBLOCK jdx : ", jdx);
      if (num != 0) {
        if (this.numFocused == -1) {
          this.numFocused = num;
        } else if (this.numFocused != num) {
          this.numFocused = num;
        } else if (
          this.numFocused == num &&
          (this.selectedI != idx || this.selectedJ != jdx)
        ) {
          this.numFocused = num;
        } else this.numFocused = -1;
      } else {
        this.numFocused = -10;
      }
      if (this.selectedI == -1 && this.selectedJ == -1) {
        this.selectedI = idx;
        this.selectedJ = jdx;
      } else if (this.selectedI != idx || this.selectedJ != jdx) {
        this.selectedI = idx;
        this.selectedJ = jdx;
      } else {
        this.selectedI = -1;
        this.selectedJ = -1;
      }
      if (
        this.selectedI != -1 &&
        this.selectedJ != -1 &&
        this.initialMatrix[this.selectedI][this.selectedJ] == 0
      ) {
        this.eventBus.trigger("current-selected-cell", {
          idx: this.selectedI,
          jdx: this.selectedJ,
        });
      } else {
        this.eventBus.trigger("current-selected-cell", {
          idx: -1,
          jdx: -1,
        });
      }
    },
    saveToDb() {
      this.eventBus.trigger("save-sudoku-data", {
        type: this.startGameType.gameType,
        level: this.startGameType.gameSubType,
      });
    },
    getCurrMatrix(ansMatrix) {
      var mat = [];
      var lst = this.getToBeShownBlocks();
      for (var i = 0; i < 9; i++) {
        var tmp = [];
        for (var j = 0; j < 9; j++) {
          if (lst[i * 9 + j]) tmp.push(ansMatrix[i][j]);
          else tmp.push(0);
        }
        mat.push(tmp);
      }
      return mat;
    },
    getInitialMatrix(currMatrix) {
      var mat = [];
      for (var i = 0; i < 9; i++) {
        var tmp = [];
        for (var j = 0; j < 9; j++) {
          tmp.push(currMatrix[i][j]);
        }
        mat.push(tmp);
      }
      return mat;
    },
    getPencilMatrix() {
      var mat = [];
      for (var i = 0; i < 9; i++) {
        var tmp2d = [];
        for (var j = 0; j < 9; j++) {
          var tmp3d = [];
          for (var k = 0; k < 9; k++) {
            tmp3d.push(0);
          }
          tmp2d.push(tmp3d);
        }
        mat.push(tmp2d);
      }
      return mat;
    },
    getToBeShownBlocks() {
      var lst = [];
      for (var i = 0; i < 9 * 9; i++) lst.push(false);
      var cnt = 1;
      while (cnt <= this.blocksToShow) {
        var t = Math.floor(Math.random() * 9 * 9);
        if (!lst[t]) {
          cnt++;
          lst[t] = true;
        }
      }
      return lst;
    },
    isSafe(grid, row, col, num) {
      // //console.log("row : ", row, " col:", col, " num:", num);
      for (let x = 0; x < 9; x++) {
        if (grid[row][x] == num && x != col) {
          // //console.log("[SudokuBlock.vue] CHECKING ROW");
          return false;
        }
      }
      for (let x = 0; x < 9; x++) {
        if (grid[x][col] == num && x != row) {
          // //console.log("[SudokuBlock.vue] CHECKING COLUMN");
          return false;
        }
      }
      let startRow = row - (row % 3),
        startCol = col - (col % 3);

      for (let i = startRow; i < startRow + 3; i++) {
        for (let j = startCol; j < startCol + 3; j++) {
          if (!(i == row && j == col)) {
            // //console.log("[SudokuBlock.vue] CHECKING BLOCK");
            if (grid[i][j] == num) {
              return false;
            }
          }
        }
      }
      return true;
    },
    checkForPossibleSolution(grid, row, col) {
      this.stack++;
      if (row == 8 && col == 9) {
        for (var i = 0; i < 9; i++) {
          for (var j = 0; j < 9; j++) {
            this.ansMatrix[i][j] = grid[i][j];
          }
        }
        return true;
      }

      if (col == 9) {
        row++;
        col = 0;
      }

      if (grid[row][col] > 0) {
        return this.checkForPossibleSolution(grid, row, col + 1);
      }

      for (let num = 1; num <= 9; num++) {
        if (this.isSafe(grid, row, col, num)) {
          grid[row][col] = num;
          if (this.checkForPossibleSolution(grid, row, col + 1)) {
            return true;
          }
        }
        grid[row][col] = 0;
      }
      return false;
    },
    checkIfSolutionPresent() {
      var grid = [];
      for (var i = 0; i < 9; i++) {
        var tmp2 = [];
        for (var j = 0; j < 9; j++) {
          if (this.errorMatrix[i][j] == 0) {
            tmp2.push(this.currMatrix[i][j]);
          } else {
            tmp2.push(0);
          }
        }
        grid.push(tmp2);
      }
      this.stack = 0;
      const solPresent = this.checkForPossibleSolution(grid, 0, 0);
      //console.log("[SudokuBlock.vue] Solution PRESENT : ", solPresent);
      return solPresent;
    },
    checkIfGameCompleted() {
      let errorCountExceeded = false;
      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          if (element.mistake.count >= element.mistake.maxCount) {
            errorCountExceeded = true;
            return;
          }
        }
      });
      if (errorCountExceeded) return true;

      let err = 0;
      for (let i = 0; i < 9; i++) {
        for (let j = 0; j < 9; j++) {
          if (this.currMatrix[i][j] == 0) {
            err++;
            break;
          }
        }
        if (err > 0) break;
      }

      if (err == 0) {
        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 9; j++) {
            if (this.errorMatrix[i][j] == 1) {
              err++;
              break;
            }
          }
          if (err > 0) break;
        }
        if (err == 0) {
          //console.log("GAME COMPLETEEDDDDD");
          return true;
        }
      }
      return false;
    },
    removePencilFromRowColBlock(num) {
      // //console.log("SUDOKUBLOCK removePencilFromRowColBlock");
      for (var i = 0; i < 9; i++) {
        this.pencilData[this.selectedI][i][num - 1] = 0;
        this.pencilData[i][this.selectedJ][num - 1] = 0;
      }
      for (i = this.selected3x3StartI; i < this.selected3x3EndI; i++) {
        for (var j = this.selected3x3StartJ; j < this.selected3x3EndJ; j++) {
          this.pencilData[i][j][num - 1] = 0;
        }
      }
    },
    checkToDisappearNum() {
      var numBarArr = [0, 0, 0, 0, 0, 0, 0, 0, 0];
      for (var i = 0; i < 9; i++) {
        for (var j = 0; j < 9; j++) {
          if (
            this.currMatrix[i][j] != 0 &&
            this.currMatrix[i][j] == this.ansMatrix[i][j]
          ) {
            numBarArr[this.currMatrix[i][j] - 1]++;
          }
        }
      }
      var numToHide = [];
      for (var k = 0; k < 9; k++) {
        if (numBarArr[k] == 9) {
          numToHide.push(k + 1);
        }
      }
      this.$emit("disappear-num", numToHide);
    },
    initializeErrorMatrix() {
      var mat = [];
      for (var i = 0; i < 9; i++) {
        var tmp = [];
        for (var j = 0; j < 9; j++) {
          tmp.push(0);
        }
        mat.push(tmp);
      }
      this.errorMatrix = mat;
    },
    setErrorInErrorMatrix() {
      for (let i = 0; i < 9; i++) {
        for (let j = 0; j < 9; j++) {
          if (this.initialMatrix[i][j] == 0) {
            if (this.currMatrix[i][j] != this.ansMatrix[i][j]) {
              this.errorMatrix[i][j] = 1;
            } else {
              this.errorMatrix[i][j] = 0;
            }
          } else {
            this.errorMatrix[i][j] = 0;
          }
        }
      }
    },
  },
};
</script>

<style scoped>
.borderTop {
  box-sizing: border-box;
  border-top: 1px solid blueviolet;
}
.borderLeft {
  box-sizing: border-box;
  border-left: 1px solid blueviolet;
}
.borderRight {
  box-sizing: border-box;
  border-right: 1px solid blueviolet;
}
.borderBottom {
  box-sizing: border-box;
  border-bottom: 1px solid blueviolet;
}
.pencil-cell {
  width: 30%;
  height: 100%;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}

.sudoku_row_2,
.sudoku_row_5 {
  box-sizing: border-box;
  border-bottom: 2px solid blueviolet;
}
.sudoku_block_2,
.sudoku_block_5 {
  box-sizing: border-box;
  border-right: 2px solid blueviolet;
}
.darkTextColor {
  color: #676262;
}
.whiteTextColor {
  color: #b9b9b9;
}
.editableDarkTextColor {
  color: black;
}
.editableWhiteTextColor {
  color: white;
}
.allNumFocusedLightClass {
  background-color: navajowhite;
}
.allNumFocusedDarkClass {
  background-color: #676262;
}
.numFocusedLightClass {
  background-color: #ffb84f;
}
.numFocusedDarkClass {
  background-color: darkslategray;
}
.rowColHighlightDark {
  background-color: #000;
}
.rowColHighlightLight {
  background-color: #c7c6c6;
}
.errorPresent {
  color: red;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s ease-in-out;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0.3;
}
</style>