<template>
  <div class="align-v-h-center">
    <div class="w-100 item-center">
      <sudoku-options
        class="sudoku-options"
        :sudoku-data="sudokuData"
        :start-game-type="startGameType"
        :common-css-props="commonCssProps"
        :token-and-point-data="tokenAndPointData"
        :pause-timer-clock="pauseTimerClock"
      ></sudoku-options>
      <sudoku-block
        class="sudoku-block"
        :sudoku-data="sudokuData"
        :start-game-type="startGameType"
        :common-css-props="commonCssProps"
        :token-and-point-data="tokenAndPointData"
        @game-completed="gameCompletedFunc"
        @disappear-num="disappearNumFunc"
      ></sudoku-block>
      <num-help-bar
        class="num-help-bar"
        :num-to-hide="numToHide"
        :common-css-props="commonCssProps"
      ></num-help-bar>
    </div>
    <teleport to="body">
      <div class="in-game-dialog" v-if="gameCompleted">
        <game-complete
          :sudoku-data="sudokuData"
          :start-game-type="startGameType"
          :common-css-props="commonCssProps"
          @start-new-game="startNewGameFunc"
          @give-second-chance="giveSecondChanceFunc"
        ></game-complete>
      </div>
    </teleport>
  </div>
</template>

<script>
import GameComplete from "./GameComplete.vue";
import NumHelpBar from "./NumHelpBar.vue";
import SudokuBlock from "./SudokuBlock.vue";
import SudokuOptions from "./SudokuOptions.vue";
export default {
  components: { SudokuOptions, NumHelpBar, SudokuBlock, GameComplete },
  name: "SudokuGround",
  props: [
    "common-css-props",
    "start-game-type",
    "sudoku-data",
    "token-and-point-data",
  ],
  data() {
    return {
      gameCompleted: false,
      numToHide: null,
      pauseTimerClock: false,
    };
  },
  methods: {
    giveSecondChanceFunc() {
      //console.log("[SudokuGround.vue] giveSecondChanceFunc : ", t);
      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          element.mistake.maxCount++;
          return;
        }
      });
      this.eventBus.trigger("save-sudoku-data", {
        type: this.startGameType.gameType,
        level: this.startGameType.gameSubType,
      });
      this.gameCompleted = false;
      this.eventBus.trigger("resume-clock-or-timer", true);
    },
    startNewGameFunc() {
      this.gameCompleted = false;
    },
    gameCompletedFunc(t) {
      //console.log("gameCompletedFunc gameCompletedFunc : ", t);
      this.gameCompleted = t;
      if (t) {
        this.eventBus.trigger("pause-clock-or-timer", true);
        this.pauseTimerClock = true;
        this.calculatePoints();
      }
    },
    calculatePoints() {
      let points = 0;
      if (
        this.startGameType.gameSubType === this.constants.GAME_SUB_TYPE.EASY
      ) {
        points = this.constants.EASY_SCORE;
      } else if (
        this.startGameType.gameSubType === this.constants.GAME_SUB_TYPE.MEDIUM
      ) {
        points = this.constants.MEDIUM_SCORE;
      } else if (
        this.startGameType.gameSubType === this.constants.GAME_SUB_TYPE.HARD
      ) {
        points = this.constants.HARD_SCORE;
      } else {
        points = this.constants.EXPERT_SCORE;
      }

      let thisIsMistake = false;

      this.sudokuData.forEach((element) => {
        if (
          element.type === this.startGameType.gameType &&
          element.level === this.startGameType.gameSubType
        ) {
          if (element.mistake.count == element.mistake.maxCount) {
            thisIsMistake = true;
            return;
          }
          points = points - element.clock.resumeTime;
          points = points - element.mistake.count * 25;
          points = points - element.hint.hintUsed * 50;

          if (element.helpObjUsed.pencilAll > 0) {
            let n = element.helpObjUsed.pencilAll;
            points = points - (n / 2) * (2 * 100 + 50 * (n - 1));
          }
          if (element.helpObjUsed.showSpecificNum > 0) {
            let n = element.helpObjUsed.showSpecificNum;
            points = points - (n / 2) * (2 * 100 + 50 * (n - 1));
          }
          if (element.helpObjUsed.stopTimer > 0) {
            let n = element.helpObjUsed.stopTimer;
            points = points - (n / 2) * (2 * 100 + 50 * (n - 1));
          }

          if (
            this.startGameType.gameType == this.constants.GAME_TYPE.LIGHTENING
          ) {
            points = element.lightening.currScore;
          }
          return;
        }
      });
      if (thisIsMistake) {
        //console.log("[SudokuGround.vue] thisIsMistake: ", thisIsMistake);
        return;
      }

      points = Math.floor(points);
      points = points < 0 ? 0 : points;
      //console.log("[SudokuGround.vue] points: ", points);
      this.tokenAndPointData.points += points;
      this.eventBus.trigger("save-tokens-and-points", true);
    },
    disappearNumFunc(arr) {
      this.numToHide = [...arr];
    },
  },
};
</script>

<style scoped>
.sudoku-options {
  height: var(--sudoku-options-height);
}
.sudoku-block {
  height: var(--sudoku-block-height);
}
.num-help-bar {
  height: var(--num-help-bar-height);
}
.in-game-dialog {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 100%;
  height: 100%;
}
</style>