<template>
  <div class="loader">
    <div class="loader-inner">
      <div class="loading-icon">
        <loading-clock :dark-theme="darkTheme"></loading-clock>
      </div>
      <div class="number-fact">
        <p v-if="numFact.length > 0">Number Fact</p>
        <p>{{ numFact }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingClock from "./LoadingClock.vue";
export default {
  name: "AppLoader",
  props: ["dark-theme", "num-fact"],
  components: {
    LoadingClock,
  },
};
</script>

<style scoped>
.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-inner {
  width: 100%;
  height: 50%;
}
.loading-icon {
  height: 50%;
}
.number-fact {
  margin: 0;
  padding: 10px;
  font-size: 22px;
  text-align: center;
}
</style>
