<template>
  <div
    class="h-100"
    :class="{ darkThemeClass: darkTheme, lightThemeClass: !darkTheme }"
  >
    <main-page
      v-show="appLoaded"
      :number-fact="numberFact"
      :sudoku-data="sudokuData"
      :token-and-point-data="tokenAndPointData"
      :feed-back-status="feedBackStatus"
      :show-internet-not-connected="showInternetNotConnected"
      :common-css-props="{
        darkTheme: darkTheme,
        borderColor: borderColor,
        boxShadow: getBoxShadow,
        helpObjBoxShadow: getHelpObjBoxShadow,
        backGroundColor: backGroundColor,
      }"
    ></main-page>
    <app-loader
      v-if="!appLoaded"
      :darkTheme="darkTheme"
      :num-fact="numberFact"
    ></app-loader>
  </div>
</template>

<script>
import AppLoader from "./components/appLoader/AppLoader.vue";
import MainPage from "./components/main/MainPage";
export default {
  name: "App",
  components: {
    MainPage,
    AppLoader,
  },
  data() {
    return {
      appLoaded: false,
      darkTheme: true,
      sudokuData: null,
      tokenAndPointData: null,
      feedBackStatus: null,
      rewardRequestedFor: null,
      rewardGiven: false,
      showInternetNotConnected: null,
      numberFact: "",
    };
  },
  watch: {
    showInternetNotConnected(n) {
      //console.log("[App.vue] showInternetNotConnected :", n);
      if (!n) {
        const options = {
          bannerAdId: this.isDev
            ? this.devValues.ADMOB_BANNER_AD_PUBLISHER_ID
            : this.prodValues.ADMOB_BANNER_AD_PUBLISHER_ID,
          publisherId: this.isDev
            ? this.devValues.ADMOB_REWARD_AD_PUBLISHER_ID
            : this.prodValues.ADMOB_REWARD_AD_PUBLISHER_ID,
          autoShowBanner: false,
          isTesting: this.isDev ? true : false,
          overlap: false,
        };
        this.cordova.admob.setOptions(options);
        this.cordova.admob.createBannerView(options);
      }
    },
  },
  beforeMount() {
    this.cordova.on("deviceready", () => {
      setTimeout(() => {
        //console.log("[App.vue] appLoaded");
        this.appLoaded = true;
        if (!this.showInternetNotConnected) {
          //console.log("[App.vue] showBannerAd");
          this.cordova.admob.showBannerAd(true);
        }
      }, 5000);

      setInterval(() => {
        if (this.cordova.connection.type != "none") {
          this.axios
            .get("http://numbersapi.com/random/math")
            .then((response) => {
              //console.log(response);
              this.numberFact = response.data;
            });
        // } else {
          //console.log("No Internet No Facts");
        }
      }, 60 * 1000);

      this.cordova.ThemeDetection.isAvailable(
        (suc) => {
          //console.log("[App.vue] isAvailable suc:", suc);
          if (suc.value) {
            this.cordova.ThemeDetection.isDarkModeEnabled(
              (suc) => {
                //console.log("[App.vue] isDarkModeEnabled suc:", suc);
                this.darkTheme = suc.value;
              },
              (err) => {
                console.log("[App.vue] isDarkModeEnabled err:", err);
              }
            );
          }
        },
        (err) => {
          console.log("[App.vue] isAvailable err:", err);
        }
      );

      this.registerAdEvents();

      if (this.cordova.connection.type != "none") {
        this.showInternetNotConnected = false;
        this.axios.get("http://numbersapi.com/random/math").then((response) => {
          //console.log(response);
          this.numberFact = response.data;
        });
      } else {
        this.showInternetNotConnected = true;
      }
      document.addEventListener("offline", () => {
        this.showInternetNotConnected = true;
      });
      document.addEventListener("online", () => {
        this.showInternetNotConnected = false;
      });
    });

    this.eventBus.on("request-rewarded-ad", (t) => {
      //console.log("[App.vue] request-rewarded-ad : ", t);
      this.rewardRequestedFor = t;
      this.requestRewardAd();
    });

    this.db.getAskAboutFeedback((res) => {
      //console.log("[App.vue] getAskAboutFeedback : ", res);
      this.feedBackStatus = res;
    });

    this.db.getSudokuStates((res) => {
      if (res == "fail") {
        //console.log("DATA FETCHING FAILED....");
      } else {
        this.sudokuData = res;
        //console.log("this.sudokuData : ", this.sudokuData);
        // this.dataLoaded = true;
      }
    });

    this.db.getTokenValue((res) => {
      //console.log("[APP.vue] getTokenValue: ", res);
      this.tokenAndPointData = res;
    });

    this.eventBus.on("save-sudoku-data", (t) => {
      // //console.log("[APP.vue] eventBus save-sudoku-data : ", t);
      this.sudokuData.forEach((element) => {
        if (element.type === t.type && element.level === t.level) {
          let toSaveObj = this.convertProxyToObject(element);
          //console.log("[APP.vue] toSaveObj : ", toSaveObj);
          this.db.saveSudokuStates(toSaveObj, () => {
            // //console.log("[APP.vue] saveSudokuStates : ", res);
          });
        }
      });
    });

    this.eventBus.on("save-tokens-and-points", () => {
      this.db.updateTokenValue(
        this.convertProxyToObject(this.tokenAndPointData),
        () => {
          //console.log("[APP.vue] updateTokenValue : ", res);
        }
      );
    });
  },
  computed: {
    backGroundColor() {
      if (this.darkTheme) {
        return {
          backgroundColor: "black",
        };
      } else {
        return {
          backgroundColor: "white",
        };
      }
    },
    borderColor() {
      if (this.darkTheme) {
        return {
          border: "1px solid white",
        };
      } else {
        return {
          border: "1px solid black",
        };
      }
    },
    getBoxShadow() {
      if (this.darkTheme) {
        return {
          boxShadow: "5px 6px 4px rgba(111, 104, 104, 0.6)",
        };
      } else {
        return {
          boxShadow: "5px 6px 4px rgba(0, 0, 0, 0.6)",
        };
      }
    },
    getHelpObjBoxShadow() {
      if (this.darkTheme) {
        return {
          boxShadow: "rgba(111, 104, 104, 1) 0px 0px 13px",
        };
      } else {
        return {
          boxShadow: "rgba(0, 0, 0, 1) 0px 0px 10px",
        };
      }
    },
  },
  methods: {
    convertProxyToObject(obj) {
      let tmp = {};
      for (const property in obj) {
        if (obj[property] != null && typeof obj[property] === "object") {
          if (Array.isArray(obj[property])) {
            let ooobbjj = this.convertProxyToObject(obj[property]);
            tmp[property] = Object.keys(ooobbjj).map((key) => ooobbjj[key]);
          } else {
            tmp[property] = this.convertProxyToObject(obj[property]);
          }
        } else {
          tmp[property] = obj[property];
        }
      }
      return tmp;
    },
    requestRewardAd() {
      this.cordova.on("deviceready", () => {
        if (this.cordova.connection.type != "none") {
          if (this.cordova.admob) {
            //console.log("AdMobAds plugin IS Ready");
            try {
              this.cordova.admob.requestRewardedAd(
                () => {
                  //console.log("requestRewardedAd func success : ", success);
                  this.rewardGiven = false;
                },
                (err) => {
                  console.log("requestRewardedAd func err : ", err);
                  // this.showLoader = false;
                  this.eventBus.trigger("stop-showing-loader", true);
                }
              );
            } catch (err) {
              console.log("Error requestRewardedAd banner:", err);
              // this.showLoader = false;
              this.eventBus.trigger("stop-showing-loader", true);
            }
          } else {
            alert("AdMobAds plugin not ready");
            // this.showLoader = false;
            this.eventBus.trigger("stop-showing-loader", true);
          }
        } else {
          //console.log("Connection PRBOLEM");
          // this.showLoader = false;
          this.eventBus.trigger("stop-showing-loader", true);
        }
      });
    },
    async onAdLoaded(e) {
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        try {
          await this.cordova.admob.showRewardedAd(
            () => {
              //console.log("showRewardedAd func success : ", success);
              this.rewardGiven = false;
            },
            (err) => {
              console.log("showRewardedAd func err : ", err);
              // this.showLoader = false;
              this.eventBus.trigger("stop-showing-loader", true);
            }
          );
        } catch (err) {
          //console.log("Error showing/hiding rewarded ad:", err);
          this.showLoader = false;
        }
      }
    },
    onRewardedAd(e) {
      // //console.log("onRewardedAd : ", e);
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        //console.log("The user has been rewarded!");
        this.rewardGiven = true;
      }
    },
    onRewardedAdVideoStarted(e) {
      // console.log("onRewardedAdVideoStarted : ", e);
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        //console.log("Rewarded video just started now");
      }
    },
    onRewardedAdVideoCompleted(e) {
      // //console.log("onRewardedAdVideoCompleted : ", e);
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        //console.log("Rewarded video just finished now");
      }
    },
    onAdClosed(e) {
      // //console.log("onAdClosed : ", e);
      if (e.adType === this.cordova.admob.AD_TYPE.REWARDED) {
        //console.log("on Ad CLOSED this.rewardGiven:", this.rewardGiven);
        // this.showLoader = false;
        if (this.rewardGiven) {
          if (this.rewardRequestedFor == "tokens") {
            this.eventBus.trigger("token-reward-given", true);
          } else if (this.rewardRequestedFor == "hint") {
            this.eventBus.trigger("hint-reward-given", true);
          } else if (this.rewardRequestedFor == "second-chance") {
            this.eventBus.trigger("second-chance-reward-given", true);
          }
        } else {
          this.eventBus.trigger("stop-showing-loader", true);
        }
      }
    },
    onAdFailedToLoad(e) {
      console.log("[App.vue] onAdFailedToLoad:", e.adType);
    },
    onAdOpened(e) {
      console.log("[App.vue] onAdOpened:", e.adType);
    },
    onAdLeftApplication(e) {
      console.log("[App.vue] onAdLeftApplication:", e.adType);
    },
    registerAdEvents() {
      document.addEventListener(
        this.cordova.admob.events.onAdLoaded,
        this.onAdLoaded
      );
      document.addEventListener(
        this.cordova.admob.events.onAdFailedToLoad,
        this.onAdFailedToLoad
      );
      document.addEventListener(
        this.cordova.admob.events.onAdOpened,
        this.onAdOpened
      );
      document.addEventListener(
        this.cordova.admob.events.onAdClosed,
        this.onAdClosed
      );
      document.addEventListener(
        this.cordova.admob.events.onAdLeftApplication,
        this.onAdLeftApplication
      );
      document.addEventListener(
        this.cordova.admob.events.onRewardedAd,
        this.onRewardedAd
      );
      document.addEventListener(
        this.cordova.admob.events.onRewardedAdVideoStarted,
        this.onRewardedAdVideoStarted
      );
      document.addEventListener(
        this.cordova.admob.events.onRewardedAdVideoCompleted,
        this.onRewardedAdVideoCompleted
      );
    },
  },
};
</script>

<style>
:root {
  --nav-height: 8%;
  --game-control-height: calc(100% - var(--nav-height));
  --sudoku-options-height: 10vh;
  --num-help-bar-height: 10vh;
  --sudoku-block-height: 60vh;
}
@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
}
#app {
  font-size: 16px;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
}
.h-100 {
  height: 100%;
}
.row {
  display: flex;
  padding: 0;
  margin: 0;
}
.w-20 {
  width: 20%;
}
.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.66666%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333%;
}
.col-5 {
  width: 41.66666%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.66666%;
}
.item-center {
  text-align: center;
}
.ml-auto {
  margin-left: auto;
}
.darkThemeClass {
  background-color: #272121;
  color: white;
}
.lightThemeClass {
  background-color: white;
  color: black;
}
.bdr-red {
  box-sizing: border-box;
  border: 1px solid red;
}
.bdr-blue {
  box-sizing: border-box;
  border: 1px solid blue;
}
.bdr-green {
  box-sizing: border-box;
  border: 1px solid green;
}
.bdr-yellow {
  box-sizing: border-box;
  border: 1px solid yellow;
}
.bdr-purple {
  box-sizing: border-box;
  border: 1px solid purple;
}
.align-v-h-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-evenly-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.w-100 {
  width: 100%;
}
.p-4 {
  padding: 4px;
}
.m-x-10 {
  margin: 0 10px;
}
.m-auto {
  margin: auto;
}
.mt-25 {
  margin-top: 25%;
}
</style>
